<div class="col-sm-12">
    <h2 class="strong">Our partners</h2>

    <div class="map-wrapper">
        <div><img src="image/catalog/blog/map.png" alt="Наші партнери"></div>
        <div class="point">
            <div><img src="image/catalog/blog/point.png"></div>
            <div class="point-info">
                <p class="strong uppercase bottom-margin-xs">Christchurch, New Zealand</p>

                <p class="font-sm">Sammy Icon New Zealand</p>
                <p class="font-sm">37 Hickory Place, Islington</p>
            </div>
        </div>
        <div class="point">
            <div><img src="image/catalog/blog/point.png"></div>
            <div class="point-info">
                <p class="strong uppercase bottom-margin-xs">Shanghai, China</p>

                <p class="font-sm">DFO International</p>
                <div><a href="http://www.dfointernational.com" class="strong">www.dfointernational.com</a></div>
            </div>
        </div>
        <div class="point">
            <div><img src="image/catalog/blog/point.png"></div>
            <div class="point-info">
                <p class="strong uppercase bottom-margin-xs">Rocklin, USA</p>

                <p class="font-sm">Soxinabox</p>
                <div><a href="http://www.soxinabox.club" class="strong">www.soxinabox.club</a></div>
            </div>
        </div>
        <div class="point">
            <div><img src="image/catalog/blog/point.png"></div>
            <div class="point-info">
                <p class="strong uppercase bottom-margin-xs">Chisinau, Moldova</p>

                <p class="font-sm">Boardshop</p>
                <div><a href="http://www.boardshop.md" class="strong">www.boardshop.md</a></div>
            </div>
        </div>
        <div class="point">
            <div><img src="image/catalog/blog/point.png"></div>
            <div class="point-info">
                <p class="strong uppercase bottom-margin-xs">Amsterdam, Netherlands</p>

                <p class="font-sm">Mensocks BV</p>
                <p class="font-sm">BRunstraat 6</p>
            </div>
        </div>
        <div class="point">
            <div><img src="image/catalog/blog/point.png"></div>
            <div class="point-info">
                <p class="strong uppercase bottom-margin-xs">Thessaloniki, Greece</p>

                <p class="font-sm">Core Shop </p>
                <div><a href="http://www.coreshop.tictail.com" class="strong">www.coreshop.tictail.com</a></div>
            </div>
        </div>
        <div class="point">
            <div><img src="image/catalog/blog/point.png"></div>
            <div class="point-info">
                <p class="strong uppercase bottom-margin-xs">Santiago de Queretaro, Mexico</p>

                <p class="font-sm">Riel Store</p>
                <p class="font-sm">de, Calle Independencia</p>
            </div>
        </div>
        <div class="point">
            <div><img src="image/catalog/blog/point.png"></div>
            <div class="point-info">
                <p class="strong uppercase bottom-margin-xs">Montreal, Canada</p>

                <p class="font-sm">Mercantile</p>
                <div><a href="http://www.clarkstreetmercantile.com" class="strong">www.clarkstreetmercantile.com</a>
                </div>
            </div>
        </div>
        <div class="point">
            <div><img src="image/catalog/blog/point.png"></div>
            <div class="point-info">
                <p class="strong uppercase bottom-margin-xs">Toronto, Canada</p>

                <p class="font-sm">Model Citizen</p>
                <div><a href="http://www.coreshop.tictail.com" class="strong">www.modelcitizentoronto.com</a></div>
            </div>
        </div>
        <div class="point">
            <div><img src="image/catalog/blog/point.png"></div>
            <div class="point-info">
                <p class="strong uppercase bottom-margin-xs">Valletta, Malta</p>

                <p class="font-sm">Kir Royal</p>
                <div><a href="http://www.kir-royal.com.mt" class="strong">www.kir-royal.com.mt</a></div>
            </div>
        </div>
        <div class="point">
            <div><img src="image/catalog/blog/point.png"></div>
            <div class="point-info">
                <p class="strong uppercase bottom-margin-xs">Freiburg, Germany</p>

                <p class="font-sm">Sammy Icon DE</p>
                <div><a href="http://www.sammy-icon.de" class="strong">www.sammy-icon.de</a></div>
            </div>
        </div>
    </div>
    <a href="#allpartners" class="all-partners">
        <button class="btn-default btn btn-lg">All Partners</button>
    </a>
</div>
