<div class="col-sm-12">
    <h2 class="strong">Наши партнеры</h2>

    <div class="map-wrapper">
        <div><img src="image/catalog/blog/map.png" alt="Наші партнери"></div>
        <div class="point">
            <div><img src="image/catalog/blog/point.png"></div>
            <div class="point-info">
                <p class="strong uppercase bottom-margin-xs">Кристчерч, Новая Зеландия</p>

                <p class="font-sm">Sammy Icon New Zealand</p>
                <p class="font-sm">37 Hickory Place, Islington</p>
            </div>
        </div>
        <div class="point">
            <div><img src="image/catalog/blog/point.png"></div>
            <div class="point-info">
                <p class="strong uppercase bottom-margin-xs">Шанхай, Китай</p>

                <p class="font-sm">DFO International</p>
                <div><a href="http://www.dfointernational.com" class="strong">www.dfointernational.com</a></div>
            </div>
        </div>
        <div class="point">
            <div><img src="image/catalog/blog/point.png"></div>
            <div class="point-info">
                <p class="strong uppercase bottom-margin-xs">Роклин, США</p>

                <p class="font-sm">Soxinabox</p>
                <div><a href="http://www.soxinabox.club" class="strong">www.soxinabox.club</a></div>
            </div>
        </div>
        <div class="point">
            <div><img src="image/catalog/blog/point.png"></div>
            <div class="point-info">
                <p class="strong uppercase bottom-margin-xs">Кишинев, Молдова</p>

                <p class="font-sm">Boardshop</p>
                <div><a href="http://www.boardshop.md" class="strong">www.boardshop.md</a></div>
            </div>
        </div>
        <div class="point">
            <div><img src="image/catalog/blog/point.png"></div>
            <div class="point-info">
                <p class="strong uppercase bottom-margin-xs">Амстердам, Нидерланды</p>

                <p class="font-sm">Mensocks BV</p>
                <p class="font-sm">BRunstraat 6</p>
            </div>
        </div>
        <div class="point">
            <div><img src="image/catalog/blog/point.png"></div>
            <div class="point-info">
                <p class="strong uppercase bottom-margin-xs">Салоники, Греция</p>

                <p class="font-sm">Core Shop </p>
                <div><a href="http://www.coreshop.tictail.com" class="strong">www.coreshop.tictail.com</a></div>
            </div>
        </div>
        <div class="point">
            <div><img src="image/catalog/blog/point.png"></div>
            <div class="point-info">
                <p class="strong uppercase bottom-margin-xs">Сантьяго-де-Керетаро, Мексика</p>

                <p class="font-sm">Riel Store</p>
                <p class="font-sm">de, Calle Independencia</p>
            </div>
        </div>
        <div class="point">
            <div><img src="image/catalog/blog/point.png"></div>
            <div class="point-info">
                <p class="strong uppercase bottom-margin-xs">Монреаль, Канада</p>

                <p class="font-sm">Mercantile</p>
                <div><a href="http://www.clarkstreetmercantile.com" class="strong">www.clarkstreetmercantile.com</a>
                </div>
            </div>
        </div>
        <div class="point">
            <div><img src="image/catalog/blog/point.png"></div>
            <div class="point-info">
                <p class="strong uppercase bottom-margin-xs">Торонто, Канада</p>

                <p class="font-sm">Model Citizen</p>
                <div><a href="http://www.coreshop.tictail.com" class="strong">www.modelcitizentoronto.com</a></div>
            </div>
        </div>
        <div class="point">
            <div><img src="image/catalog/blog/point.png"></div>
            <div class="point-info">
                <p class="strong uppercase bottom-margin-xs">Валлетта, Мальта</p>

                <p class="font-sm">Kir Royal</p>
                <div><a href="http://www.kir-royal.com.mt" class="strong">www.kir-royal.com.mt</a></div>
            </div>
        </div>
        <div class="point">
            <div><img src="image/catalog/blog/point.png"></div>
            <div class="point-info">
                <p class="strong uppercase bottom-margin-xs">Фрайбург, Германия</p>

                <p class="font-sm">Sammy Icon DE</p>
                <div><a href="http://www.sammy-icon.de" class="strong">www.sammy-icon.de</a></div>
            </div>
        </div>
    </div>
    <a href="#allpartners" class="all-partners">
        <button class="btn-default btn btn-lg">Все партнеры</button>
    </a>
</div>
