<div class="buttons next-button">
    <button type="button" id="button-confirm" class="center-block"  ><?php echo $button_confirm; ?></button>
</div>
<script type="text/javascript"><!--
$('#button-confirm').on('click', function() {
	$.ajax({
		type: 'get',
		url: 'index.php?route=payment/cod/confirm',
		cache: false,
		success: function() {
			location = '<?php echo $continue; ?>';
		}
	});
});
//--></script>
