<?php if (!isset($redirect)) { ?>
<div class="table-responsive">
  <table class="hide-on-smart table table-bordered table-hover">
    <thead>
      <tr>
        <td class="text-left"><?php echo $column_name; ?></td>
        <td class="text-right"><?php echo $column_quantity; ?></td>
        <td class="text-right"><?php echo $column_price; ?></td>
        <td class="text-right"><?php echo $column_total; ?></td>
      </tr>
    </thead>
    <tbody>
      <?php foreach ($products as $product) { ?>
      <tr>
        <td class="text-left"><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a>
          <?php foreach ($product['option'] as $option) { ?>
          &nbsp;<small> - <?php echo $option['name']; ?>: <?php echo $option['value']; ?></small>
          <?php } ?>
          <?php if($product['recurring']) { ?>
          <br />
          <span class="label label-info"><?php echo $text_recurring_item; ?></span> <small><?php echo $product['recurring']; ?></small>
          <?php } ?></td>
        <td class="text-right"><?php echo $product['quantity']; ?></td>
        <td class="text-right"><?php echo $product['price']; ?></td>
        <td class="text-right"><?php echo $product['total']; ?></td>
      </tr>
      <?php } ?>
      <?php foreach ($vouchers as $voucher) { ?>
      <tr>
        <td class="text-left"><?php echo $voucher['description']; ?></td>
        <td class="text-left"></td>
        <td class="text-right">1</td>
        <td class="text-right"><?php echo $voucher['amount']; ?></td>
        <td class="text-right"><?php echo $voucher['amount']; ?></td>
      </tr>
      <?php } ?>
    </tbody>
    <tfoot>
      <?php foreach ($totals as $total) { ?>
        <tr>
          <td colspan="3" class="text-right"><strong><?php echo  $total['title'];  ?>:</strong></td>
          <td class="text-right"><?php echo $total['text']; ?></td>
        </tr>
      <?php } ?>
    </tfoot>
  </table>
  <table class="show-on-smart table table-bordered table-hover">
    <thead>
    <tr>
      <td class="text-left"><?php echo $column_name; ?></td>
      <td class="text-right"><?php echo $column_quantity; ?></td>
      <td class="text-right"><?php echo $column_total; ?></td>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($products as $product) { ?>
    <tr>
      <td class="text-left"><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a>
        <?php foreach ($product['option'] as $option) { ?>

        &nbsp;<small> - <?php echo $option['name']; ?>: <?php echo $option['value']; ?></small>
        <?php } ?>
        <?php if($product['recurring']) { ?>
        <br />
        <span class="label label-info"><?php echo $text_recurring_item; ?></span> <small><?php echo $product['recurring']; ?></small>
        <?php } ?></td>
      <td class="text-right"><?php echo $product['quantity']; ?></td>
      <td class="text-right"><?php echo $product['total']; ?></td>
    </tr>
    <?php } ?>
    <?php foreach ($vouchers as $voucher) { ?>
    <tr>
      <td class="text-left"><?php echo $voucher['description']; ?></td>
      <td class="text-left"></td>
      <td class="text-right">1</td>
      <td class="text-right"><?php echo $voucher['amount']; ?></td>
      <td class="text-right"><?php echo $voucher['amount']; ?></td>
    </tr>
    <?php } ?>
    </tbody>
    <tfoot>
    <?php foreach ($totals as $total) { ?>
    <tr>
      <td colspan="2" class="text-right"><strong><?php echo  $total['title'];  ?>:</strong></td>
      <td class="text-right"><?php echo $total['text']; ?></td>
    </tr>
    <?php } ?>
    </tfoot>
  </table>
</div>

<p class="agree-with"><?php echo $text_agree; ?></p>
<?php echo $payment; ?>
<?php } else {  echo $redirect; ?>
<script type="text/javascript"><!--
//location = '<?php echo $redirect; ?>';
//--></script>
<?php } ?>
