<div class="delivery-payments">
    <div class="content-wrapper">

        <a name="delivery"></a>
        <h1>Доставка</h1>
        <div class="row small-row big-row">
            <div class="col-md-3 col-sm-6 width">
                <p class="icon" ><img src="/catalog/view/theme/default/image/home.png" alt="доставка"></p>
                <p class="strong blue">Безкоштовно</p>
                <p class="blue-light">Забрати з головного офісу
                    біля метро <span class="font">Осокорки</span>
                </p>
            </div><div class="col-md-3 col-sm-6 width">
            <p class="icon" ><img src="/catalog/view/theme/default/image/delivery_ico.png" alt="доставка"></p>
            <p class="strong blue">35 ГРН</p>
            <p class="blue-light">Викликати кур’єра по Києву </p>
        </div><div class="col-md-3 col-sm-6 width">
            <p class="icon" ><img src="/catalog/view/theme/default/image/novaposhta.png" alt="доставка"></p>
            <p class="strong blue">Від 25 ГРН</p>
            <p class="blue-light">Замовити доставку до найближчого
                відділення Нової Пошти </p>
        </div><div class="col-md-3 col-sm-6 width">
            <p class="icon" ><img src="/catalog/view/theme/default/image/maps.png" alt="доставка"></p>
            <p class="strong blue">DHL, UPS</p>
            <p class="blue-light">Доставка в будь-яку країну світу</p>
        </div>
        </div>
        <div class="row text-block">
            <div class="col-md-12">
                <p><span class="strong"> 1. Курьерская доставка по Москве</span><br>
                    - быстрая доставка по Москве (1-2 рабочих дня с момента оформления заказа);<br>
                    - возможность выбора удобного для вас времени доставки;<br>
                    - возможность выбора не более двух размеров одной вещи для примерки;<br>
                    - стоимость доставки по Москве – 300 рублей, при заказе от 10 000 рублей – бесплатно.<br>
                    Не подошел размер? Просто верните товар нашему курьеру, оплатив только стоимость доставки - 300 рублей. Обращаем внимание, что курьерская доставка по Москве осуществляется в пределах МКАД и в зоне покрытия метрополитеном. В остальных случаях рекомендуем пользоваться услугами почтовых курьерских служб.
                </p>
                <p><span class="strong">  2. Самовывоз из магазина</span><br>
                    - возможность забрать вещь самостоятельно из магазина в центре Москвы;<br>
                    - после заказа вещь резервируется на двое суток;<br>
                    - возможность примерки вещи перед покупкой;<br>
                    - услуга бесплатная.
                </p>
            </div>
        </div>
        <hr>
        <a name="payments"></a>
        <h2>Оплата</h2>
        <div class="row small-row">
            <div class="col-md-4 col-sm-4 l-margin">
                <p class="icon" ><img src="/catalog/view/theme/default/image/card.png" alt="доставка"></p>
                <p class="strong blue">Карткою Visa, MasterCard,
                    American Express</p>
            </div>
            <div class="col-md-4 col-sm-4 l-margin">
                <p class="icon" ><img src="/catalog/view/theme/default/image/paypal.png" alt="доставка"></p>
                <p class="strong blue">Через PayPal</p>
            </div>
            <div class="col-md-4 col-sm-4 l-margin">
                <p class="icon" ><img src="/catalog/view/theme/default/image/bank.png" alt="доставка"></p>
                <p class="strong blue">Накладеним платежем
                    по Україні</p>
            </div>
        </div>
        <div class="row last-elems">
            <div class="col-md-12">
                <p><span class="strong">1. Электронные платежи</span><br>
                    Оплата заказа в магазине доступна банковской картой платежных систем Visa, Mastercard, Maestro, а в интернет-магазине еще и с помощью PayPal, QIWI, Яндекс. Кошелька.
                </p>
                <p><span class="strong">2. Наличные средства</span><br>
                    Оплата заказа производится наличными в рублях, в магазине или в момент передачи товара курьером покупателю.
                </p>
                <p><span class="strong">3. Банковская карта</span><br>
                    В нашем магазине на Петровском бульваре, а так же при курьерской доставке по Москве, мы принимаем банковские карты Visa, Mastercard и Maestro. Для оплаты банковской картой курьеру по Москве при оформлении заказа выберите соответствующий способ оплаты.
                </p>
            </div>
        </div>
    </div>

</div>