<?php echo $header; ?><?php echo $column_left; ?>
<div id="content">
<div class="page-header">
    <div class="container-fluid">
        <?php if ($error_config) { ?>
        <div class="pull-right"><a href="#" data-toggle="tooltip" title="<?php echo $button_add; ?>"
                                   class="btn btn-primary disabled"><i class="fa fa-plus"></i></a>
            <button type="button" data-toggle="tooltip" title="<?php echo $button_copy; ?>"
                    class="btn btn-default disabled" onclick="#"><i class="fa fa-copy"></i></button>
            <button type="button" data-toggle="tooltip" title="<?php echo $button_delete; ?>"
                    class="btn btn-danger disabled" onclick="#"><i class="fa fa-trash-o"></i></button>
        </div>
        <?php } else { ?>
        <div class="pull-right"><a href="<?php echo $add; ?>" data-toggle="tooltip"
                                   title="<?php echo $button_add; ?>" class="btn btn-primary"><i
                        class="fa fa-plus"></i></a>
            <button type="button" data-toggle="tooltip" title="<?php echo $button_copy; ?>" class="btn btn-default"
                    onclick="$('#form-lookbook').attr('action', '<?php echo $copy; ?>').submit()"><i
                        class="fa fa-copy"></i></button>
            <button type="button" data-toggle="tooltip" title="<?php echo $button_delete; ?>" class="btn btn-danger"
                    onclick="confirm('<?php echo $text_confirm; ?>') ? $('#form-lookbook').submit() : false;"><i
                        class="fa fa-trash-o"></i></button>
        </div>
        <?php } ?>
        <h1><?php echo $heading_title; ?></h1>
        <ul class="breadcrumb">
            <?php foreach ($breadcrumbs as $breadcrumb) { ?>
            <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
            <?php } ?>
        </ul>
    </div>
</div>
<div class="container-fluid">
    <div class="alert alert-info">
        <i class="fa fa-info-circle"></i>&nbsp;<?php echo $text_donation; ?><br/>
        <?php echo $text_copyright; ?>
    </div>
</div>
<div class="container-fluid">
    <?php if ($error_config) { ?>
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_config; ?>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <?php } ?>
    <?php if ($error_warning) { ?>
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <?php } ?>
    <?php if ($success) { ?>
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> <?php echo $success; ?>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <?php } ?>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i> <?php echo $text_list; ?></h3>
        </div>
        <div class="panel-body">
            <div class="well">


                <div class="row">
                    <div class="col-sm-9">
                        <div class="form-group">
                            <label class="control-label" for="input-title"><?php echo $entry_title; ?></label>
                            <input type="text" name="filter_title" value="<?php echo $filter_title; ?>"
                                   placeholder="<?php echo $entry_title; ?>" id="input-title" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label" for="input-status"><?php echo $entry_status; ?></label>
                            <select name="filter_status" id="input-status" class="form-control">
                                <option value="*"></option>
                                <?php if ($filter_status) { ?>
                                <option value="1" selected="selected"><?php echo $text_enabled; ?></option>
                                <?php } else { ?>
                                <option value="1"><?php echo $text_enabled; ?></option>
                                <?php } ?>
                                <?php if (!$filter_status && !is_null($filter_status)) { ?>
                                <option value="0" selected="selected"><?php echo $text_disabled; ?></option>
                                <?php } else { ?>
                                <option value="0"><?php echo $text_disabled; ?></option>
                                <?php } ?>
                            </select>
                        </div>
                        <button type="button" id="button-filter" class="btn btn-primary pull-right"><i
                                    class="fa fa-search"></i> <?php echo $button_filter; ?></button>
                    </div>
                </div>
            </div>
            <form action="<?php echo $delete; ?>" method="post" enctype="multipart/form-data" id="form-lookbook">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <td style="width: 1px;" class="text-center"><input type="checkbox"
                                                                               onclick="$('input[title*=\'selected\']').prop('checked', this.checked);"/>
                            </td>
                            <td class="text-center"><?php echo $column_image; ?></td>
                            <td class="text-center"><?php if ($sort == 'bd.title') { ?>
                                <a href="<?php echo $sort_title; ?>"
                                   class="<?php echo strtolower($order); ?>"><?php echo $column_title; ?></a>
                                <?php } else { ?>
                                <a href="<?php echo $sort_title; ?>"><?php echo $column_title; ?></a>
                                <?php } ?></td>
                            <td class="text-center"><?php echo $column_tags; ?></td>
                            <td class="text-center"><?php if ($sort == 'b.status') { ?>
                                <a href="<?php echo $sort_status; ?>"
                                   class="<?php echo strtolower($order); ?>"><?php echo $column_status; ?></a>
                                <?php } else { ?>
                                <a href="<?php echo $sort_status; ?>"><?php echo $column_status; ?></a>
                                <?php } ?></td>
                            <td class="text-center"><?php if ($sort == 'b.sort_order') { ?>
                                <a href="<?php echo $sort_sort_order; ?>"
                                   class="<?php echo strtolower($order); ?>"><?php echo $column_sort_order; ?></a>
                                <?php } else { ?>
                                <a href="<?php echo $sort_sort_order; ?>"><?php echo $column_sort_order; ?></a>
                                <?php } ?></td>
                            <td class="text-center"><?php echo $column_action; ?></td>
                        </tr>
                        </thead>
                        <tbody>
                        <?php if ($lookbooks) { ?>
                        <?php foreach ($lookbooks as $lookbook) { ?>
                        <tr>
                            <td class="text-center"><?php if (in_array($lookbook['lookbook_id'], $selected)) { ?>
                                <input type="checkbox" name="selected[]"
                                       value="<?php echo $lookbook['lookbook_id']; ?>" checked="checked"/>
                                <?php } else { ?>
                                <input type="checkbox" name="selected[]"
                                       value="<?php echo $lookbook['lookbook_id']; ?>"/>
                                <?php } ?></td>
                            <td class="text-center"><?php if ($lookbook['image']) { ?>
                                <img src="<?php echo $lookbook['image']; ?>" alt="<?php echo $lookbook['title']; ?>"
                                     class="img-thumbnail"/>
                                <?php } else { ?>
                                <span class="img-thumbnail list"><i class="fa fa-camera fa-2x"></i></span>
                                <?php } ?></td>
                            <td class="text-left"><?php echo $lookbook['title']; ?></td>
                            <td class="text-left">
                                <?php $tags = $lookbook['tags']; ?>
                                <?php foreach ($tags as $tag) { ?>
                                <a href="<?php echo $tag['href']; ?>"
                                   title="<?php echo $button_edit; ?>"><?php echo $tag['title']; ?></a>&nbsp;
                                <?php } ?>
                            </td>
                            <td class="text-left"><?php echo $lookbook['status']; ?></td>
                            <td class="text-left"><?php echo $lookbook['sort_order']; ?></td>
                            <?php if ($error_config) { ?>
                            <td class="text-right"><a href="#" data-toggle="tooltip"
                                                      title="<?php echo $button_edit; ?>"
                                                      class="btn btn-primary disabled"><i class="fa fa-pencil"></i></a>
                            </td>
                            <?php } else { ?>
                            <td class="text-right"><a href="<?php echo $lookbook['edit']; ?>" data-toggle="tooltip"
                                                      title="<?php echo $button_edit; ?>" class="btn btn-primary"><i
                                            class="fa fa-pencil"></i></a></td>
                            <?php } ?>
                        </tr>
                        <?php } ?>
                        <?php } else { ?>
                        <tr>
                            <td class="text-center" colspan="5"><?php echo $text_no_results; ?></td>
                        </tr>
                        <?php } ?>
                        </tbody>
                    </table>
                </div>
            </form>
            <div class="row">
                <div class="col-sm-6 text-left"><?php echo $pagination; ?></div>
                <div class="col-sm-6 text-right"><?php echo $results; ?></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript"><!--
    $('#button-filter').on('click', function () {
        var url = 'index.php?route=lookbook/lookbook&token=<?php echo $token; ?>';

        var filter_title = $('input[name=\'filter_title\']').val();

        if (filter_title) {
            url += '&filter_title=' + encodeURIComponent(filter_title);
        }

        var filter_status = $('select[name=\'filter_status\']').val();

        if (filter_status != '*') {
            url += '&filter_status=' + encodeURIComponent(filter_status);
        }

        location = url;
    });
    //--></script>
</div>
<?php echo $footer; ?>