header, footer{
  background-color: $site-bg;
}
/*------------------------ blog-page -----------------------*/
.blog-page{

  .owl-carousel{
    padding-left: 0;
    padding-right: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
      .owl-wrapper-outer{
        border: 0 !important;
      }
  }
  .slider .owl-pagination{
    right: 0;
    left: 0;
    margin-left: 0;
    bottom: 26px;
      .owl-page{
        display: inline-block;
        margin: 0 6px;
        float:none;
      }
  }
  button{
    a{
        color: white;
        text-decoration: none;
    }
    a:hover{
      text-decoration: none;
    }
  }
  .hidden{
    display: block;
  }
  background-color: $site-bg;
  img{
    width: 100%;
  }
  .top-slider-wrapp{
    background-color: white;
    padding-bottom: 60px;
    .slider-block{
      position: relative;
      margin-bottom: 2%;
      margin-top:0;
      padding: 0;
      h1{
        padding-top: 3.5%;
        padding-left: 4.5%;
        color: #ffffff;
        font-family: $font-bold;
        text-transform: uppercase;
        text-align: left;
        margin: 0;
        font-size: 28px;
        letter-spacing: 1.5px;
      }
      p{
        margin-left: 4.5%;
        margin-top: 0;
        color: #fff;
        font-family: $font-regular;
        text-align: left;
        letter-spacing: 0.45px;
      }
      button{
        font-family: $font-bold;
        font-size: 12px;
        position: absolute;
        bottom: 8%;
        left: 4.5%;
        background-color: transparent;
        color: white;
        text-transform: uppercase;
        padding: 16px 24px;
        border: 3px solid #fff;
        box-shadow: none;
        letter-spacing: 1.1px;

        a{
          color: white;
        }
      }
    }
  }
  .free-space{
    margin-top: 2%;
  }
  .two-col-1{
    .small-col{
      margin-bottom: 2%;
      position: relative;
      overflow: hidden;
      p{
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        -moz-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
        -o-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
        font-family: $font-bold;
        color: white;
        text-transform: uppercase;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 1.5px;
      }
    }
    .big-col{
      margin-bottom: 2%;
      position: relative;
      h1{
        padding-top: 37px;
        padding-left: 46px;
        color: #ffffff;
        font-family: $font-bold;
        margin: 0;
        font-size: 28px;
        letter-spacing: 1.5px;
      }
      p{
        margin-left: 46px;
        margin-top: 0;
        font-family: $font-regular;
        color: white;
        font-size: 14px;
        line-height: 34px;
        letter-spacing: 0.3px;
      }
      button{
        font-family: $font-bold;
        font-size: 12px;
        position: absolute;
        bottom: 30px;
        left: 46px;
        background-color: transparent;
        color: white;
        text-transform: uppercase;
        padding: 16px 23px;
        border: 3px solid #fff;
        box-shadow: none;
        letter-spacing: 1.1px;
        display: none;
      }
    }
    .big-col:hover button{
      display: block;
      cursor: pointer;
    }
  }
  .two-col-2{
    .big-col{
      margin-bottom: 2%;
      position: relative;
      h1{
        padding-top: 36px;
        padding-left: 54px;
        color: #ffffff;
        font-family: $font-bold;
        margin: 0;
        font-size: 28px;
        letter-spacing: 1.5px;
      }
      p{
        margin-left: 54px;
        margin-top: 0;
        font-family: $font-regular;
        color: white;
        font-size: 14px;
        line-height: 34px;
        letter-spacing: 0.3px;
      }
      button{
        font-family: $font-bold;
        font-size: 12px;
        position: absolute;
        bottom: 30px;
        left: 54px;
        background-color: transparent;
        color: white;
        text-transform: uppercase;
        padding: 16px 23px;
        border: 3px solid #fff;
        box-shadow: none;
        letter-spacing: 1.1px;
        display: none;
      }
    }
    .big-col:hover button{
      display: block;
      cursor: pointer;
    }
    .small-col{
      margin-bottom: 2%;
      position: relative;
      overflow: hidden;
      p{
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        -moz-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
        -o-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
        font-family: $font-bold;
        color: white;
        text-transform: uppercase;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 1.5px;
      }
    }
  }
  .three-col{
    position: relative;
    .small-col{
      margin-bottom: 2%;
      overflow: hidden;
      h1{
        padding-left: 44px;
        padding-top: 25px;
        color: #ffffff;
        font-family: $font-bold;
        margin: 0;
        font-size: 28px;
        letter-spacing: 1.5px;
      }
      p{
        margin-top: 5px;
        margin-left: 44px;
        font-family: $font-regular;
        color: white;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.3px;
        width: 67%;
      }
    }
    button{
      font-family: $font-bold;
      font-size: 12px;
      position: absolute;
      bottom: 30px;
      left: 44px;
      background-color: transparent;
      color: white;
      text-transform: uppercase;
      padding: 16px 23px;
      border: 3px solid #fff;
      box-shadow: none;
      letter-spacing: 1.1px;
      display:none;
    }
  }
  .small-col:hover button{
    display: block;
    cursor: pointer;
  }
  .small-col-wrapp{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }


  @media (min-width: 1200px){
    .container.top-slider-wrapp{
      width:1060px;
    }
    .top-slider-wrapp .slider-block{
      padding: 0;
      margin-left: -20px;
      width: 104%;
      .slider{
        margin: 0;
        .slider-pagination{
          left: 50%;
          .diamond{
            cursor: pointer;
          }
        }
      }
    }
    .free-space{
      padding-left: 1.5%;
    }
    .three-col{
      padding-right: 1.5%;
    }
    .two-col-1, .two-col-2, .three-col{
      padding-left: 1.5%;
    }
    .two-col-1 .small-col{
      padding-right: 13px;
    }
    .two-col-1 .big-col{
      padding-left: 7px;
      padding-right: 30px;
    }
    .two-col-2 .big-col{
      padding-right: 22px;
    }
    .two-col-2 .small-col {
      padding-left: 0;
      padding-right: 28px;
    }
    .three-col .small-col{
      width: 33.15%;
      padding-right: 8px;
    }
  }
  @media (max-width: 1000px){
    background-color: white;
    .hidden{
      display:none;
    }
    .two-col-1, .two-col-2, .three-col{
      padding: 0 20%;
    }
  }
  @media (max-width: 700px){
    .two-col-1, .two-col-2, .three-col{
      padding: 0 0%;
    }
  }
}