// SLIDER BEGIN =-================================3
.blog .top-img,.blog .article-title{
  .l-head-img,img {
    width: 106%;
    margin: 0 -30px;
  }
}

.slider{
  margin: 50px 0 !important;
    .l-arrow, .r-arrow{
      position: absolute;
      display: block;
      top: 50%;
      -webkit-transform: translateY(-50%) ;
      -moz-transform: translateY(-50%) ;
      -ms-transform: translateY(-50%) ;
      -o-transform: translateY(-50%) ;
      transform: translateY(-50%) ;
      width:22px !important;
    }
    .r-arrow{
      left: 35px;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    .l-arrow{
      right: 35px;
    }

    .slider-pagination{
      position: absolute;
      right: 75px;
      bottom: 30px;
    }
    .diamond{
      width: 11px;
      height: 11px;
      margin-right: 12px;
      background-color: #fff;
      opacity: 0.5;
      float: left;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      &.active{
        opacity: 1;
      }
    }
    @media (max-width: 771px){
      margin: 50px 0;
      padding: 0 0px;
      .r-arrow{
        left: 30px;
      }
      .l-arrow{
        right: 30px;
      }

      .slider-pagination{
        right: 30px;
      }
    }
    @media (max-width: 350px){
      .slider-pagination{
        left: 54%;
        bottom: 5%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        -moz-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
        -o-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
      }
    }
}
// SLIDER END =-================================3



.blog-read{
  .padding-bot{
    padding-bottom: 100px;
  }
  .owl-wrapper-outer{
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .see-also-wrapper .col-md-6{
     padding-left: 10px;
     padding-right: 10px;
  }
  .content-wrapper {
    font-size: 16px;
    font-family: $font-light;
    position: relative;
    padding-bottom: 0;
    .background-color{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
    }
    h1{
      position: absolute;
      color: #FFFFFF;
      display: block;
      font-family: $font-bold;
      font-size: 28px;
      text-align: center;
      letter-spacing: 3px;
      margin: 0;
      left: 50%;
      top: 50%;
      -webkit-transform: translateY(-50%) translateX(-50%);
      -moz-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
      -o-transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%);
    }
    img {
      width: 100%;
    }

    ul li{
      list-style: none;
    }
    .hidden-sm{
      margin-right: 15px;
    }
    .social-sharing{
      text-align: center;
      li{
        padding: 3px 0;
      }
      img{
        width: auto;
        max-width: 20px;
        max-height: 20px;
      }
    }

    .article-title{
      margin-bottom: 54px;
    }

    .head-text{
      font-size:20px;
      margin-bottom: 30px;
    }
    .list-circle{
      margin-top: 35px;
      padding-left: 31px;
      li{
        position: relative;
        font-family: $font-regular;
        margin-bottom: 15px;
        &:before{
          content: url("../blog/img/icon/list-circle.png");
          margin-right: 15px;
          position: absolute;
          left: -30px;
          top: 0;

        }
      }
    }

    .list-numeric{
      padding-left: 55px;
      h2{
        font-size: 15px;
        font-family: $font-semibold;
        text-transform: uppercase;
      }

      li {
        position: relative;
        font-size: 14px;
        p{
          font-family: $font-light;
          font-size: 14px;
          font-weight: bold;
          color: rgba(48,51,53,0.8);
        }
        &:before {
          position: absolute;
          left: -55px;
          top: 0;
          content: "";
          border: 2px solid #CCCCCC;
          color: #618099;
          border-radius: 50px;
          width: 23px;
          height: 23px;
          text-align: center;
          font-family: $font-bold;
          font-size:12px;
          padding-top: 2px;
        }
        &:nth-child(1):before {
          content: "1";
        }
        &:nth-child(2):before {
          content: "2";
        }
        &:nth-child(3):before {
          content: "3";
        }
        &:nth-child(4):before {
          content: "4";
        }
        &:nth-child(5):before {
          content: "5";
        }
        &:nth-child(6):before {
          content: "6";
        }
        &:nth-child(7):before {
          content: "7";
        }
        &:nth-child(8):before {
          content: "8";
        }
        &:nth-child(9):before {
          content: "9";
        }
      }
    }
    .artical-footer-text .col-sm-offset-1{
      font-family: $font-light;
      font-size: 16px;
    }
    .hint{
      font-family: $font-thin;
      font-size: 32px;
      color: #8d9fad;
      &:before{
        content: url("../blog/img/icon/line.png");
        display: block;
        margin-top: -20px;
      }
    }
    .l-line-height{
      line-height: 23px;
    }
    hr{
      margin: 32px 0;
    }

    .see-also{
      color: #396080;
      font-size: 14px;
      text-transform: uppercase;
      text-align: center;
      font-family: $font-bold;
      margin-bottom: 50px;
      margin-top: 60px;
    }

    .same-title{
      position: absolute;
      color: #FFFFFF;
      display: block;
      font-family: $font-semibold;
      font-size: 22px;
      text-align: center;
      margin: 0;
      left: 50%;
      top: 50%;
      -webkit-transform: translateY(-50%) translateX(-50%);
      -moz-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
      -o-transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%);

      &:hover{
        color: #aeaeae;
      }
    }
    p{
      font-size: 14px;
      font-family: $font-regular;
    }
  }
  @media (min-width: 1200px){
    .background-color {
      width: 1060px !important;
    }
    .content-wrapper img.l-head-img{
      width: 106%;
      margin: 0 -30px;
    }
  }

  @media (min-width: 768px){
    .col-sm-8 {
      width: 64.666667%;
    }
    .col-sm-offset-2 {
      margin-left: 18.666667%;
    }
  }
  @media (max-width: 992px){
    .content-wrapper{
      background-color: white !important;
    }
  }
  @media (max-width: 771px){
    .container{
      position: relative;
      .hidden-sm{
        position: absolute;
        top: 80px;
        right: 2%;
      }
    }
  }
  @media (max-width: 550px){
    .container{
      .hidden-sm{
        top: 55px;
      }
    }
  }
  @media (max-width: 480px){
    .container{
      .hidden-sm{
        top: 30px;
      }
    }
  }
  @media (max-width: 350px){
    .container{
      .hidden-sm{
        top: 20px;
      }
    }
  }
}


.slider{
  .owl-pagination{
    position: absolute;
    right: 75px;
    bottom: 30px;
    top: inherit;
    .owl-page{
      width: 11px;
      height: 11px;
      margin-right: 12px;
      background-color: #fff;
      opacity: 0.5;
      float: left;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      span{
        display: none;
      }
      &.active{
        opacity: 1;
      }
    }
  }
}