.cabinet-address{
   //vazgen
  .nav > li > a:hover, .nav > li > a:focus, .nav > li > a.selected{
    text-decoration: none;
    background-color: #eee
  }
  .nopadding{
    .strong{
      color: #3a6182;
      margin-top: 18px;
    }
  }
  .col-md-offset-1{
    .right-text{
      color: #5685ad;
    }
    .address-button{
      color:#73899e;
    }
  }
}
.account-order-info{
  p,a{
    font-size: 15px;
  }
  table td:first-child{
    padding-left: 0;
  }
}
.account-forgotten,.account-reset{
  .cabinet h1{
    border-bottom: none;
  }
}
.account-wishlist{
  .cabinet{
    .form-title{
      margin: 16px 10px 0;
    }
  }
}
.cabinet{
  color: $blue-md;
    .table-order{
      thead th{
        border: none;
        font-weight:normal;
        font-family: $font-regular;
        font-size: 14px;
        color: $blue-ll;
        text-transform: uppercase;
      }
      tbody td{
        color:$blue-smd;
      }
    }
    #content{
      padding-right: 25px;
        table{
          th{
            border: none;
          }
        }
    }
    label{
      white-space: normal;
    }
    #content .form-group {
      margin-bottom: 0;
    }
    a{
      color: $blue-md;
        &.btn{
          color: #ffffff;
        }
    }
    .btn.btn-back{
      color: #274d70;
    }
    #column-left {
      label {
        white-space: normal !important;
        text-align: left !important;
      }
      table {
        margin-bottom: 120px;
        tbody {
          color: $blue-md;
          font-family: $font-semibold;
        }
        tr > td, tr > th {
          border-bottom: none !important;
          border-top: none !important;
        }
        th {
          text-transform: uppercase;
          color: #acb3bc;
          font-size: 12px;
          padding-top: 0;
        }
      }
      h1 {
        font-size: 20px;
        text-transform: uppercase;
        padding-bottom: 16px;
        margin-left: 15px;
        float:left;
        width: 100%;
      }
      .left-menu {
        padding-top: 0;
        margin-bottom: 100px;
        li{
          margin-bottom: 0;
            a{
              color: #396080;
              font-family: $font-semibold;
              font-size: 15px;
              padding-left: 0;
              padding-right: 0;
              opacity: 0.8;
                &:hover,&.selected {
                  opacity: 1;
                  background: none;
                }
                &:focus{
                  background: none;
                }
            }
            .active {
              color: #396080;
              opacity: 1;
            }
        }
      }

    }
  .form-title {
    font-size: 20px;
    margin: 17px 0 0 0;
    padding-bottom: 13px;
  }

  .form-control{
    margin: 10px 0;
    border-color:#b2c1cd;
  }

  button{
    margin-bottom: 100px;
    margin-top: 40px;
  }
  .alert{
    button {
      margin: 0;
    }
  }
  form#user_info{
    font-size: 15px;
      .label{
        display: inline-block;
        text-align: left;
        padding: 20px 0.6em 0 0;
      }
      .label,.form-control, .left-menu li a{
        color: $blue-md;
        font-family: $font-semibold;
        font-size: 15px;
      }
      .subscribe-label{
        font-family: $font-regular;
        color: #71889e;
      }
  }
  h1,.form-title{
    border-bottom: 1px solid #ced6dd;
    font-family: $font-regular;
    margin-bottom: 16px;
    color: $blue;
  }
  .content-wrapper{
    position: relative;
    .container{
      padding: 0 2%;
    }
  }
  .plus{
    font-family: sans-serif;
    font-weight: 900;
    font-size: 14px;
    padding-right: 5px;
  }
  .address-button{
    padding: 26px 38px 36px 0;
    color: $blue-md;
  }
  .top-margin-lg{
    margin-top: 40px;
  }

  .cabinet-l-text{
    font-family: $font-regular;
    color: #396080;
    font-size: 16px;
    padding: 0 30px;
  }
  .goods-block{
    position: relative;
    padding: 0 10px;
    margin-bottom:7%;
  }
  .goods-img{
    border:1px solid #ced6dd;
    width:100%;
    cursor: pointer;
  }
  .sale-img{
    position: absolute;
    top: 1px;
    left: 11px;
    cursor: pointer;
  }
  .sale-img1{
    position: absolute;
    top:0;
    left: 50%;
    -webkit-transform: translateY(0%) translateX(-50%);
    -moz-transform: translateY(0%) translateX(-50%);
    -ms-transform: translateY(0%) translateX(-50%);
    -o-transform: translateY(0%) translateX(-50%);
    transform: translateY(0%) translateX(-50%);

    cursor: pointer;
  }
  .sale-img2{
    position: absolute;
    top: 28px;
    left: 11px;
    cursor: pointer;
  }

  .review-goods-img{
    position: absolute;
    top: 58%;
    right: 18px;
    width: 42px;
    cursor: pointer;
    display: none;
  }
  .goods-block{
    &:hover .review-goods-img{
      display: block;
    }
  }
  .goods-text-area{
    border:1px solid #ced6dd;
    border-top:none;
    padding: 7% 5% 1% 9%;
    text-align: left;
    line-height: normal;
    a:hover{
      text-decoration: none;
    }
    .goods-name{
      font-family: $font-bold;
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: 1.4px;
    }
    .goods-price{
      float: right !important;
      font-family: $font-bold;
      letter-spacing: 1.4px;
    }
    p{
      color:#99adbe;
      font-family: $font-regular;
    }
  }
  .more-block{
    text-align: center;
    margin-top: 3.3%;
    margin-bottom: 18.5%;
    a{
      font-family: $font-bold;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 800;
      img{
        margin-right: 5px;
      }
    }
  }

  .goods-info{
    .goods-option{
      font-family: $font-bold;
    }

    img{
      margin-top: 13px;
      margin-right: 20px;
      width: 65px;
      border: 1px solid #ced6dd;
    }
  }
  .goods-title{
    font-family: $font-regular;
    color:#96a6b3;
    text-transform: uppercase;
    letter-spacing: -1px;
    text-align: center;
  }
  .goods-option{
    font-family: $font-regular;
    text-transform: uppercase;
    margin-top: 16px;
    text-align: center;
    letter-spacing: 2px;
    color:#396080;
    .plus, .minus{
      font-family: SansSerif-bold;
      font-size: 20px;
      font-weight: 800;
      cursor: pointer;
      color: #788c9d;
      line-height: 0;
      margin-right: 4px;
    }
    .plus{
      margin-left: 2px;
      margin-right: 0;
    }
    .font-size{
      font-size: 12px;
      margin-left: 1px;
      letter-spacing: 0;
    }
  }
  .midle{
    .goods-option{
      letter-spacing: 0px;
    }
  }
  .bottom{
    img{
      margin-top: 5px;
      margin-right: 4px;
      cursor: pointer;
    }
  }
  .goods2{
    .goods-option{
      margin-top: 34px;
    }
  }
  .separator{
    border-bottom: 1px solid #ced6dd;
    margin: 2.3% 0 2%;
  }
  .promo{
    position: relative;
    input{
      border: 1px solid #b2c1cd;
      width: 100%;
      padding: 8px 65px 8px 14px;
      font-family: $font-regular;
      font-size: 13px;
      color:#618099;
      &::-webkit-input-placeholder {color:#618099;}
      &::-moz-placeholder          {color:#618099;}/* Firefox 19+ */
      &:-moz-placeholder           {color:#618099;}/* Firefox 18- */
      &:-ms-input-placeholder      {color:#618099;}
    }
    button{
      position: absolute;
      right: 0;
      top: 0;
      background-color: #274d70;
      border: none;
      color: #fff;
      text-transform: uppercase;
      font-size: 14px;
      font-family: $font-regular;
      padding: 8px 15px;
    }
  }
  .result{
    td{
      border-top:none;
      padding: 0px 8px 19px;
      line-height: 11px;
      font-family: $font-regular;
      color: #396080;
    }
    td.right{
      text-align: right;
    }
    .bold td{
      font-family: $font-regular;
    }
  }
  .table-order{
    width: 100%;
    thead{
      tr{
        th{
          &:last-child{
            padding-right: 0;
          }
          &:first-child{
            padding-left: 0;
          }
        }
      }
    }
    tbody{
      tr {
        td {
          border: none;
            &:last-child{
              padding-right: 0;
            }
            &:first-child{
              padding-left: 0;
            }
        }
      }
    }
  }
  .order-info-table{
    margin-bottom: 60px;
    tbody, thead {
      td {
        &:nth-child(1) {
        img {
          border: 1px solid #ced6dd;
        }
      }
        &:nth-child(2) {
          width: 35%;
          text-align: left !important;
      } 
        &:nth-child(3) {
          text-align: center !important;
      }
        &:nth-child(4) {
        text-align: center;
        width: 20%;
      }

      }
    }

    thead{
      td,th{
        color: #1e405c;
        font-size:15px;
        opacity: .5;
        &:first-child{
          visibility: hidden;
        }
      }
    }
    tfoot{
      td{
        &:nth-child(2){
          width: 28%;
        }
      }
    }
  }

/*-------------------------Правки--------------------------------*/
  .l-border{
    input{
      &::-webkit-input-placeholder {color:transparent}
      &::-moz-placeholder          {color:transparent}/* Firefox 19+ */
      &:-moz-placeholder           {color:transparent}/* Firefox 18- */
      &:-ms-input-placeholder      {color:transparent}
    }
  }
  .adress-new{
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    font-family: $font-regular;
    color: #618099;
  }
  .l-no-padding{
    padding: 3px 0px 0 25px !important;
  }
  .l-left{
    .goods-title{
      text-align: left;
    }
  }
  .mail-input-label{
    padding-top: 17px;
  }
  /*-------------------------Правки--конец------------------------------*/
  @media (max-width: 993px){
    .l-border{
      .nopadding{
        display: none;
      }
      input{
        &::-webkit-input-placeholder {color: #618099}
        &::-moz-placeholder          {color: #618099}/* Firefox 19+ */
        &:-moz-placeholder           {color: #618099}/* Firefox 18- */
        &:-ms-input-placeholder      {color: #618099}
      }
    }
  }
}
@media (min-width: 1200px){
  .background-color{
    width: 1060px !important;
  }
}

@media (max-width: 992px){
  .cabinet .goods-block{
    padding: 0 25%;
    .review-goods-img{
      top: 65%;
      right: 27%;
      width: 42px;
    }
  }
  .button-l{
    display: block;
    margin: 30px auto;
  }
}

@media (max-width: 650px){
  .cabinet .goods-block{
    padding: 0 15%;
    .review-goods-img{
      top: 64%;
      right: 21%;
      width: 42px;
    }
  }
}

@media (max-width: 450px){
  .cabinet .goods-block{
    padding: 0 15%;
    .review-goods-img{
      top: 61%;
      right: 21%;
      width: 42px;
    }
  }
}