.red {
  color: #ff0000;
}

.cart {
  .content-wrapper {
    color: $blue;
    font-family: $font-bold;
    p {
      margin-bottom: 25px;
    }
  }
}
.show-on-smart{
  display: none;
}
// НАТЯЖКА BEGIN  ==========================================3
.smart-checkout-modal {
  .price-col,.hide-on-smart{
    display: none;
  }
  .show-on-smart{
    display: table;
  }
  .go-back-checkout{
    position: absolute;
    right: 15px;
    top: 72px;
    z-index: 2;
    background: none;
    border: none;
    display: none;
    img{
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
  aside{
    padding: 0!important;
    .left-col-wrapp{
      padding-left: 0;
    }
  }
  .checkout-checkout #content {
    padding-right: 15px;
    padding-left: 15px;
  }
  .panel {
    display: none;
    &.open {
      display: block;
    }
  }
  .close-btn {
    top: 0;
    right: 0;
    z-index: 1;
    height: 30px;
    background-color: rgba(0,0,0,.6);
  }
}

.checkout-checkout {

  .require {
    position: absolute;
    font-size: 25px;
    right: 15px;
    top: 7px;
  }

  .left-col-wrapp {
    padding-right: 0;
  }
  #content {
    padding-right: 30px;
  }
  #collapse-checkout-confirm {
    color: $blue-smd;
    a {
      color: $blue;
      font-family: $font-semibold;
    }
    table{
      td:first-child a{
        max-width: 125px;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
      }
    }
    .table.table-bordered.table-hover thead {
      td {
        text-transform: uppercase;
      }
    }
    .table.table-bordered.table-hover tbody td.text-left {
      text-align: left;
      a {
        text-transform: uppercase;
      }
    }
    .table.table-bordered.table-hover tbody td.text-right:nth-child(3),
    .table.table-bordered.table-hover tbody td:nth-child(2),
    .table.table-bordered.table-hover tfoot td.text-right {
      text-align: right;
    }
  }
  #collapse-payment-method .panel-body {
    > table {
      margin-bottom: 12px;
    }

    .delivery-list {
      margin: 0;
      span {
        font-weight: 600;
        font-family: $font-regular;
        color: $blue;
      }
      img {
        opacity: .6;
        &.active {
          opacity: 1;
        }
      }
    }
  }

  .oneall {
    // position: absolute;
    z-index: -1;
  }

  .user-name {
    p {
      font-family: $font-regular;
      color: $blue-md;
      font-size: 14px;
      margin-top: 10px;
    }
  }
  .collapse-payment-address {
    // display: none;
  }
  .panel {
    border-bottom-color: #ced6dd;
    position: relative;
    .choise-delivery {
      font-family: $font-regular;
      color: $blue-md;
      font-size: 13px;
      margin-bottom: 15px;
    }
    table {
      width: 100%;
      .first-td {
        width: 3%;
      }
      .second-td {
        width: 13%;
      }
      .third-td {
        width: 64%;
      }
      .fourth-td {
        width: 20%;
        text-align: right;
      }
    }

    .delivery-list {
      margin: 0 0 12px;
      input[type="radio"] {
        margin: 7px 0 0 1px;
        cursor: pointer;
      }
      td:nth-child(1), td:nth-child(2) {
        padding: 10px 0;
      }
      img {
        margin-left: 15px;
        margin-right: 0;
        @media screen and (max-width: 991px) {
          margin: 0 10px;
        }
      }
      .delivery-name {
        display: inline-block;
        width: 80%;
      }
      .color {
        color: #396080;
        font-weight: 600;
      }
      span {
        color: #71889e;
        font-family: $font-regular;
        display: inline-block;
        line-height: 17px;

      }
    }
    .alert {
      margin-bottom: 45px;
    }
    .panel-body {
      border-top-color: transparent !important;
      padding: 0 0 20px 0;
    }
    h3 {
      font-family: $font-semibold;
      color: #b1b9c4;
      font-size: 13px;
    }
    &.open {
      h3 {
        margin-top: 4px;
        font-family: $font-semibold;
        font-size: 15px;
        color: #396080;
      }
    }
  }
  .panel-heading {
    padding: 10px 0;
    button.cart-log-button {
      top: 10px
    }
  }

  .panel-group {
    margin-bottom: 60px;
    .panel + .panel {
      margin-top: 0;
    }
  }

  button.cart-log-button {
    position: absolute;
    right: 0;
    top: -42px;
    float: right !important;
    margin: 5px 0 0 0;
    font-family: $font-semibold;
    border: 2px solid #274d70;
    color: #274d70;
    background: transparent;
    text-transform: uppercase;
    padding: 7px 19px;
    cursor: pointer;
    font-size: 13px;
    &:hover {
      opacity: 0.5;
    }
  }
  .info-log {
    padding-top: 17px;
    .text-danger {
      font-size: 12px;
      margin-top: -10px;
    }
    .row {
      margin: 0;
      padding: 0;
    }
    .col-md-6 {
      margin-bottom: 10px;
      &:nth-child(2n) {
        padding-left: 8px;
      }
    }
    select {
      height: 38px;
    }
    input, select {
      width: 100%;
      border: 1px solid #b2c1cd;
      font-family: $font-semibold;
      padding: 8px 14px;
      color: $blue;
      &::-webkit-input-placeholder {
        color: $blue-md;
      }
      &::-moz-placeholder {
        color: $blue-md;
      }
      /* Firefox 19+ */
      &:-moz-placeholder {
        color: $blue-md;
      }
      /* Firefox 18- */
      &:-ms-input-placeholder {
        color: $blue-md;
      }
      &[type=checkbox] {
        width: auto;
      }
    }
    .log-option {
      margin: 9px 0 12px;
      font-family: $font-regular;
      color: $blue-md;
      font-size: 15px;
      span {
        margin-left: 12px;
      }
      a {
        font-family: $font-semibold;
        color: #274d70;
        font-size: 14px;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .social-buttons {
    padding-top: 2%;
    .social-button {
      width: 100%;
      padding: 0;
      border: none;
      a {
        position: relative;
        display: block;
        width: 100%;
        padding: 7px 0;
        padding-left: 37px;
        text-align: left;
        font-family: $font-regular;
        font-size: 13px;
        color: white;
        img {
          position: absolute;
          top: 8px;
          left: 7px;
        }
        &:hover {
          text-decoration: none;
        }
      }
      &:hover {
        text-decoration: none;
        opacity: 0.5;
      }
    }
    .social-button.facebook {
      background-color: #48629b;
    }
    .social-button.vkontakte {
      background-color: #527498;
    }
    .social-button.google {
      background-color: #dc4b38;
    }
    .social-button.twitter {
      background-color: #23b0e6;
    }
  }
  .social-buttons.log-page {
    padding-top: 0;
  }
  .next-button {
    margin-top: 4%;
    text-align: center;
    button {
      border: none;
      background-color: #274d70;
      color: white;
      text-transform: uppercase;
      font-family: $font-semibold;
      padding: 12px 40px;
      font-size: 13px;
      min-width: 160px;
      &:hover {
        opacity: 0.5;
      }
    }
  }
  .next-button.log-page {
    margin-top: 2%;
    button {
      padding: 12px 40px;
      font-size: 13px;
      margin-top: 10px;
    }
  }
  h2 {
    font-size: 20px;
    font-family: $font-regular;
    color: $blue-md;
    text-transform: uppercase;
    border-bottom: 1px solid #ced6dd;
    padding-bottom: 9px;
  }

  @media (min-width: 992px) {
    .address-info {
      padding: 0 15px;
    }
    .goods-seting {
      .col-md-4 {
        padding: 0 10px;
      }
      .midle {
        padding-left: 14px;
      }
      .bottom {
        padding-right: 0;
      }
    }
    .promo {
      width: 51.333333%;
      padding-right: 0;
    }
    .result {
      width: 48.666667%;
      padding-left: 34px;
    }
    .info-log {
      padding-left: 15px;
      padding-right: 15px;
      .col-md-6 {
        padding: 0;
        padding-right: 1px;
      }
    }
    .next-steps {
      padding-left: 19px;
      padding-right: 15px;
      .col-md-12 {
        padding: 0;
      }
    }
  }

  @media (min-width: 1200px) {
    .social-button {
      a {
        padding-left: 30px;
      }
    }
  }
  @media (max-width: 991px) {
    .promo {
      input {
        margin-bottom: 20px;
      }
      button {
        right: 15px !important;
      }
    }
    .social-buttons {
      text-align: center;
      .col-md-3 {
        margin: 2% auto;
        width: 160px;
      }
    }
    .address-info {
      .col {
        padding: 0 !important;
      }
    }
  }

  .address-info {
    padding: 0 15px;
    .col-md-12 {
      padding: 0;
    }

    img {
      width: 100%;
    }
  }
  .address-info {
    padding-top: 6px;
    .col-md-6 {
      margin-bottom: 0;
    }
    input, select {
      margin-bottom: 10px;
    }
    textarea {
      width: 100%;
      border: 1px solid #b2c1cd;
      font-family: $font-semibold;
      padding: 8px 14px;
      color: $blue;
      height: 134px;
      resize: none;
      &::-webkit-input-placeholder {
        color: $blue-md;
      }
      &::-moz-placeholder {
        color: $blue-md;
      }
      /* Firefox 19+ */
      &:-moz-placeholder {
        color: $blue-md;
      }
      /* Firefox 18- */
      &:-ms-input-placeholder {
        color: $blue-md;
      }
    }
  }

}

@media (min-width: 992px) {
  .checkout-checkout #column-left.col-sm-3 {
    width: 50%;
  }
}

@media (max-width: 991px) {
  .checkout-checkout #content.col-sm-6 {
    width: 100%;
  }
  .checkout-checkout #column-left.col-sm-3 {
    width: 100%;
  }
  .first-step {
    .col-md-6 {
      padding: 0 !important;
    }
  }
}

// НАТЯЖКА END  ==========================================3
