

/*------------------checkbox---------------------*/
p.agree-with{
  color:$blue;
  font-size: 12px;
  text-align: center;
    a{
      font-weight: bold;
    }
}
input[type="checkbox"]{
  display:none;
}
input[type="checkbox"] + label{
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  font-family: $font-regular;
  color:$blue;
  opacity: .8;
}

input[type="checkbox"] + label::before{
  content: "";
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 5px 0 0;
  background-image: url(../icon/no-checked.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 1px;
}
input[type="checkbox"]:checked + label::before {
  background-image: url(../icon/checked.png);
}

/*------------------radio---------------------*/
input[type="radio"] {
  display:none;
}

input[type="radio"] + label {
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  font-family: $font-regular;
  color:$blue-md;
}

input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 5px 0 0;
  background-image: url(../icon/radio-no-checked.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: -7px;
}

input[type="radio"]:checked + label::before {
  background-image: url(../icon/radio-checked.png);
}
.radio{
  input[type="radio"] + label::before {
    top: -1px
  }
}

.cart-step-1-page{

  .cart-step-page-wrapp{
    padding-bottom: 3%;
  }
  .left-col-wrapp, .rigt-col-wrapp{
    h1{
      font-size: 20px;
      font-family: $font-regular;
      color: $blue-md;
      text-transform: uppercase;
      border-bottom: 1px solid #ced6dd;
      padding-bottom: 9px;
    }
  }
  .left-col-wrapp{
    .heading{
      p{
        margin: 0;
      }
    }
    .product-row1 > .col{
      margin-top: -18px;
    }
    .goods-info{
      img{
        margin-top: 13px;
        margin-right: 20px;
        width: 65px;
        border: 1px solid #ced6dd;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
      }
    }
    .goods-title{
      font-family: $font-regular;
      color:rgba(30,64,92,0.5);
      text-transform: uppercase;
      font-size: 12px;
    }
    .goods-option{
      font-family: $font-semibold;
      text-transform: uppercase;
      margin-top: 35px;
      letter-spacing: 1px;
      color:rgba(57,96,128,0.9);
        a{
          color:$blue;
        }
        &.goods-price{
          text-transform: lowercase;
          letter-spacing: 0;
        }
      .plus, .minus{
        font-family: SansSerif-bold;
        font-size: 20px;
        font-weight: 800;
        cursor: pointer;
        color: #788c9d;
        line-height: 0;
        margin-right: 4px;
      }
      .plus{
        margin-left: 2px;
        margin-right: 0;
      }
      .font-size{
        font-size: 12px;
        margin-left: 1px;
        letter-spacing: 0;
      }
      input{
        border: none;
        background: none;
        color: #788c9d;
        display: inline;
      }
    }
    .midle{
      .goods-option{
        letter-spacing: 0px;
      }
    }
    .bottom{
      img{
        margin-top: 5px;
        margin-right: 0;
        cursor: pointer;
      }
    }
    .goods2{
      .goods-option{
        margin-top: 34px;
      }
    }
    .separator{
      border-bottom: 1px solid #ced6dd;
      margin: 3% 0 4%;
    }
    .promo{
      position: relative;
      input{
        border: 1px solid #b2c1cd;
        width: 100%;
        padding: 8px 65px 8px 14px;
        font-family: $font-semibold;
        font-size: 13px;
        color:$blue;
        &::-webkit-input-placeholder {color:$blue-md;}
        &::-moz-placeholder          {color:$blue-md;}/* Firefox 19+ */
        &:-moz-placeholder           {color:$blue-md;}/* Firefox 18- */
        &:-ms-input-placeholder      {color:$blue-md;}
      }
      button{
        position: absolute;
        right: 0;
        top: 0;
        background-color: #274d70;
        border: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 13px;
        font-family: $font-semibold;
        padding: 9px 15px;
      }
    }
    .result{
      tr:last-child{
        td{
          font-weight: bold;
          font-family: $font-bold;
        }
      }
      td{
        border-top:none;
        padding: 0 0 19px;
        line-height: 11px;
        font-family: $font-regular;
        color: #396080;
      }
      td.right{
        text-align: right;
      }
      .bold td{
        font-family: $font-bold;
      }
    }
  }
  .rigt-col-wrapp{
    .top-elems{
      p{
        margin-top: 12px;
        margin-left: 3px;
        font-family: $font-semibold;
        font-size: 15px;
        color:#396080;
      }
    }
    .top-elems-button{
      button{
        float: right !important;
        margin: 5px 0 0 0;
        font-family: $font-bold;
        border: 2px solid #274d70;
        color: #274d70;
        background: transparent;
        text-transform: uppercase;
        padding: 5px 24px;
        cursor: pointer;
        &:hover{
          opacity: 0.5;
        }
      }
      .cart-log-button{
        padding: 7px 19px;
        font-size: 13px;
      }
    }
    .info-log{
      padding-top: 17px;
      .col-md-6{
        margin-bottom: 10px;
      }
      input{
        width: 100%;
        border: 1px solid #b2c1cd;
        font-family: $font-bold;
        padding: 8px 14px;
        color:$blue;
          &::-webkit-input-placeholder {color:$blue-md !important;}
          &::-moz-placeholder          {color:$blue-md !important;}/* Firefox 19+ */
          &:-moz-placeholder           {color:$blue-md !important;}/* Firefox 18- */
          &:-ms-input-placeholder      {color:$blue-md !important;}
          &[type=checkbox]{
            width: auto;
          }
      }
      .log-option{
        margin: 2px 0 0;
        font-family: $font-regular;
        color: $blue-md;
        font-size: 15px;
        span{
          margin-left: 12px;
        }
        a{
          font-family: $font-bold;
          color:#274d70;
          font-size: 14px;
         &:hover{
           text-decoration: none;
         }
        }
      }
    }
    .social-buttons{
      padding-top: 2%;
      .social-button{
        width:100%;
        padding: 0;
        border: none;
        a{
          position: relative;
          display: block;
          width: 100%;
          padding: 7px 0;
          padding-left: 37px;
          text-align: left;
          font-family: $font-regular;
          font-size: 13px;
          color: white;
          img{
            position: absolute;
            top: 8px;
            left: 7px;
          }
          &:hover{
            text-decoration: none;
          }
        }
        &:hover{
          text-decoration: none;
          opacity: 0.5;
        }
      }
      .social-button.facebook{background-color: #48629b;}
      .social-button.vkontakte{background-color: #527498;}
      .social-button.google{background-color: #dc4b38;}
      .social-button.twitter{background-color: #23b0e6;}
    }
    .social-buttons.log-page{
      padding-top: 0;
    }
    .next-button{
      margin-top: 4%;
      text-align: center;
      button{
        border: none;
        background-color: #274d70;
        color: white;
        text-transform: uppercase;
        font-family: $font-bold;
        padding: 12px 39px;
        font-size: 14px;
        &:hover{
          opacity: 0.5;
        }
      }
    }
    .next-button.log-page{
      margin-top: 2%;
      button{
        padding: 13px 56px;
        font-size: 13px;
      }
    }
    .next-steps{
      margin-top: 4%;
      .col-md-12{
        margin-top: 11px;
      }
      .separator{
        border-bottom: 1px solid #ced6dd;
        margin: 0;
      }
      p{
        font-family: $font-semibold;
        color:#88a0b3;
        font-size: 13px;
      }
    }
  }

  @media (min-width: 1200px) {
    .container.cart-step-page-wrapp {
      width: 1060px;
      .top-row{
        padding: 0 15px;
      }
    }
  }
  @media (min-width: 992px){
    .goods-seting{
      .col-md-4{
        padding: 0 10px;
      }
      .midle{
        padding-left: 14px;
      }
      .bottom{
        padding-right: 0;
      }
    }
    .promo{
      width: 51.333333%;
      padding-right: 0;
    }
    .result{
      width: 48.666667%;
      padding-left: 34px;
    }
    .info-log{
      padding-left: 13px;
      padding-right: 15px;
      .col-md-6{
        padding: 0 0px;
        padding-right: 1px;
        padding-left: 8px;
      }
    }
    .social-buttons{
      padding: 0 14px 0 7px;
      .col-md-3{
        padding: 0;
        padding-left: 13px;
        margin-bottom: 2%;
        margin-top: 2%;
      }
    }
    .next-steps{
      padding-left: 19px;
      padding-right: 15px;
      .col-md-12{
        padding: 0;
      }
    }
  }

  @media (min-width: 1200px) {
    .social-button{
      a{
        padding-left: 30px;
      }
    }
  }
  @media (max-width: 992px){
    .promo{
      input{
        margin-bottom: 20px;
      }
      button{
        right: 15px !important;
      }
    }
    .social-buttons{
      text-align: center;
      .col-md-3{
        margin: 2% auto;
        width: 160px;
      }
    }
  }
}


/*------------------cart-step-2-page---------------------------------*/
.cart-step-2-page{
  .rigt-col-wrapp{
    .top-elems{
      p{
        font-size: 13px;
        letter-spacing: -0.2px;
      }
    }
    .top-elems-button{
      button{
        padding: 6px 18px;
        font-size: 13px;
        margin-right: 3px;
      }
    }
    .user-name{
      p{
        font-family: $font-regular;
        color: $blue-md;
        margin-top: -2px;
        font-size: 14px;
      }
      .separator{
        border-bottom: 1px solid #ced6dd;
        margin: 5px 0;
      }
    }
    .delivery{
      padding: 0 15px 0 15px;
      h2{
        font-family: $font-bold;
        color: #b1b9c4;
        font-size: 15px;
        margin-top: 12px;
        margin-bottom: 10px;

      }
      .choise-delivery{
        font-family: $font-regular;
        color: $blue-md;
        font-size: 13px;
        margin-bottom: 15px;
      }
      table{
        width: 100%;
        .first-td{
          width: 3%;
        }
        .second-td{
          width: 13%;
        }
        .third-td{
          width: 64%;
        }
        .fourth-td{
          width: 20%;
          text-align: right;
        }
      }
      .delivery-list{
        margin: 0px 0 12px;
        input[type="radio"]{
          margin: 7px 0px 0 1px;
          cursor: pointer;
        }
        img{
          margin-left: 15px;
          margin-right: 0;
        }
        .delivery-name{
          display: inline-block;
          width: 80%;
        }
        .color{
          color: #396080;
        }
        span{
          color: #71889e;
          font-family: $font-regular;
          display: inline-block;
          line-height: 17px;
        }
      }
    }
  }
  @media (min-width: 992px){
    .row.delivery{
      .delivery-list{
        padding: 0;
      }
    }
  }
  @media (max-width:767px){
    .rigt-col-wrapp .user-name p{
      margin-top: 44px;

    }
  }
}

/*---------------------cart-step-3-page----------------------------*/
.cart-step-3-page{
  .rigt-col-wrapp{
    .top-elems{
      p{
        font-family: $font-bold;
        color: #b1b9c4;
        font-size: 13px;
      }
    }
    .delivery{
      h2{
        font-family: $font-bold;
        color: #b1b9c4;
        font-size: 13px;
      }
      .delivery-list{
        input[type="radio"]{
          cursor: inherit;
        }
      }
    }
    .address-head{
      padding-top: 6px;
      margin-top: 0;
      .separator{
        border-bottom: 1px solid #ced6dd;
        margin: 0;
      }
      h2{
        font-family: $font-bold;
        color: #396080;
        font-size: 15px;
        margin-top: 7px;
        margin-bottom: 10px;
      }
    }
    .address-info{
      padding-top: 6px;
      .col-md-6{
        margin-bottom: 0;
      }
      input{
        margin-bottom: 10px;
      }
      textarea{
        width: 100%;
        border: 1px solid #b2c1cd;
        font-family: $font-bold;
        padding: 8px 14px;
        color: $blue;
        height: 134px;
        resize: none;
        &::-webkit-input-placeholder {color:$blue-md;}
        &::-moz-placeholder          {color:$blue-md;}/* Firefox 19+ */
        &:-moz-placeholder           {color:$blue-md;}/* Firefox 18- */
        &:-ms-input-placeholder      {color:$blue-md;}
      }
    }
    .next-button{
      margin-top: 2%;
    }
  }

  @media (max-width: 1000px) {
    .rigt-col-wrapp .address-head{
      margin-top: 6px;
    }
  }
  @media (min-width: 992px){
    .rigt-col-wrapp{
      .address-head{
        padding-left: 15px;
        padding-right: 15px;
      }
      .address-info{
        padding-left: 7px;
        padding-right: 19px;
      }
    }
  }
}


/*---------------cart-step-4-page---------------------------*/
.cart-step-4-page{
  .rigt-col-wrapp{
    .next-steps.address-head{
      padding-top: 6px;
      margin-top: 0;
      .separator{
        border-bottom: 1px solid #ced6dd;
        margin: 0;
      }
      h2{
        font-family: $font-bold;
        color: #b1b9c4;
        font-size: 13px;
      }
      p{
        font-family: $font-regular;
        color: $blue-md;
        font-size: 13px;
        margin-bottom: 0px;
      }
    }
    .next-steps{
      margin-top: 2%;
      h2{
        font-family: $font-bold;
        color: #396080;
        font-size: 15px;
        margin-top: 7px;
        margin-bottom: 10px;
      }
      table{
        margin-bottom: 7px;
      }
      .delivery-list{
        margin-top: 3px;
        margin-bottom: 9px;
        .first-td{
          input[type="radio"]{
            margin: 7px 0 0;
          }
        }
        .second-td{
          width: 40px;
          img{
            margin-left: 15px;
            opacity: 0.5;
            &.active{
              opacity: 1;
            }
          }
        }
        .third-td{
          padding-left: 14px;
          span{
            color:#466b88;
            font-family: $font-regular;
            font-size: 14px;
            .color{
              font-family: $font-bold;
            }
          }
        }
      }
    }
    .next-button{
      margin-top: 4.1%;
      button{
        padding: 13px 47px;
        font-size: 13px;
      }
    }
    .review{
      margin-top: 2.5%;
      input[type="checkbox"]{
        margin-right: 15px;
      }
      span{
        color: #8c9cab;
        font-family: $font-regular;
        font-size: 14px;
      }
    }
  }
  input[type="checkbox"]+label{
    padding-left: 25px;
  }
  @media (min-width: 992px){
    .next-steps {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  @media (max-width: 1000px) {
    .row.next-steps{
      padding: 0 15px;
    }
  }
}

/*------------------cart-step-3-4-page----------------------*/
.cart-step-3-4-page{
  .address-info{
    padding: 0 15px;
    .col-md-12{
      padding: 0;
    }
    img{
      width:100%;
    }
  }
  @media (min-width: 992px){
    .rigt-col-wrapp .address-info {
      padding: 0 15px;
    }
  }
}


/*-----------------cart-step-5-success-----------------------*/
.cart-step-5-success, .checkout-success{
  h2{
    color: $blue;
  }
  .top-text{
    font-family: $font-regular;
    font-size: 16px;
    color: #3a6180;
    .color{
      color: #e9787a;
    }
  }
  .middle-text{
    font-family: $font-semibold;
    color:#72889f;
  }
  p{
    color: #7389a0;
    font-family: $font-regular;
    margin-bottom: 20px;
  }
  .bottom-text{
    color: #386181;
    font-family: $font-semibold;
    margin-bottom: 15px;
  }
  .bold{
    color: #396081;

  }
}
























