/*------------------category-page-----------------------*/

.category-page {
  background-color: $site-bg;
}

.category-product-container {
  padding-right: 30px;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(-360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

  .buy-right-part {
    .buy-block{
      .price-size {
        &:nth-of-type(2n) {
          select {
            width: 45px;
          }
        }
        &:last-of-type {
          select {
            width: 130px;
          }
        }
      }
    }
  }
  .product-preview {
    .alert {
      margin-bottom: 0;
    }
    .item-page {
      -webkit-box-shadow: 3px 20px 85px 8px rgba(47, 65, 82, 1);
      -moz-box-shadow: 3px 20px 85px 8px rgba(47, 65, 82, 1);
      box-shadow: 3px 20px 85px 8px rgba(47, 65, 82, 1);
    }
    .price-elems {
      padding-left: 15px;
    }
    .price-size {
      padding-left: 0;
      padding-right: 0;
      text-align: left;
      p {
        text-align: left;
      }
    }
    .popup-container {
      position: relative;
      min-width: 320px;
      width: 100%;
      max-width: 722px;

      margin: auto;
      > .close {
        font-size: 35px;
        position: absolute;
        top: -38px;
        right: -20px;
        color: #fff;
        opacity: .7;
        &:hover {
          opacity: 1;
        }
      }
    }
    .item-page .row {
      margin: 0;
    }
    .slide-block {
      width: 100%;
      max-height: 100%;
      padding-top: 20px;
      display: inline-block !important; // needs to fix owl bthaviour
    }
    .buy-wrapp-block {
      padding-top: 38px;
      padding-bottom: 20px;
      .buy-left-part {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        text-align: center;
      }
      .buy-right-part {
        padding-left: 0;
        .item {
          width: 200px;
        }
        h1 {
          margin-top: 0;
        }
        .buy-whishlist {
          position: relative;
          .col-xs-9 {
            padding-right: 0;
          }
          button {
            width: 100%;
            height: 55px;
            margin-right: 10px;
            letter-spacing: 1px;
            &.heart {
              background-color: white;
              width: 55px;
              height: 55px;
              border: solid rgba(39, 77, 112, .45) 2px;
            }
          }
          span {
            width: 20%;
            display: inline-block;
            padding: 0;
            text-align: center;
            img {
              margin: 0;
              display: inline-block;
            }
          }
          .col-md-4 {
            padding-left: 30px;
          }
        }
        .buy-text-1 {
          margin-bottom: 35px;
          font-family: $font-light;
        }
        .buy-block {
          .col{
            min-height: 85px;
          }
          padding-right: 0;

          .price-elems, .price-amount, .price-size {

            .text {
              font-family: $font-semibold;
            }
            .number {
              font-family: $font-regular;
            }
            select {
              background-color: white;
            }
          }
        }
      }
    }
    .show-more {
      font-family: $font-bold;
      color: rgba(48, 82, 109, .8);
      font-size: 15px;
      margin: 20px 0;
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

  .category-page-container {
    #content .nav-panel {
      top: -78px;
    }
    .breadcrumb {
      margin-bottom: 50px;
    }
    .free-shipping {
      position: absolute;
      text-align: center;
      top: -35px;
      width: 95%;
      color: $blue;
      font-family: proxima_nova_semibold;
      font-size: 13px;
      z-index: 10;
      img {
        max-width: 35px;
        display: inline-block;
        padding-right: 7px;
        margin-top: -2px;
      }
    }
  }

  .category-page, #content, .item-page {

    .price-old {
      display: none;
    }
    a:focus {
      text-decoration: none;

    }
    .top-element-wrapp {
      background-color: $site-bg;
      margin-top: 8px;
      margin-bottom: 8px;
    }
    .top-left-text {

      a {
        color: #acb1b8;
        font-family: $font-regular;
        font-size: 12px;
        text-transform: uppercase;
      }
      span {
        color: #acb1b8;
        font-size: 12px;
        font-family: $font-regular;
        text-transform: uppercase;
      }
      a:hover {
        text-decoration: none;
        color: #4E5052;
      }
    }
    .top-right-text, .nav-panel {
      a, label {
        color: #2c3645;
        font-size: 11px;
        font-family: $font-semibold;
        text-transform: uppercase;
      }
      .more-items {
        display: inline;
        margin-right: 22px;
      }
      .nambers {
        color: #acb1b8;
        font-family: $font-semibold;
        margin: 0 3px;
      }
      .nambers:hover {
        color: #47505d;
      }
      .nambers.active {
        color: #47505d;
      }
      a:hover {
        text-decoration: none;
        color: #4E5052;
      }
      select {
        max-width: 150px;
        color: #2c3645;
        font-size: 11.5px;
        font-family: $font-regular;
        background-color: transparent;
        border: none;
        margin-right: 27px;
        opacity: 0.7;
        text-transform: uppercase;
        option {
          opacity: 0.7;
        }
      }
      select:focus {
        border: none;
      }
    }
    .container.middle {
      padding: 0 0;
      background-color: #fff;
      padding-top: 2%;
    }
    .middle-elems-wrapp {
      margin-top: 4%;
    }
    .left-menu {
      list-style: none;
      padding: 4px 0 4px 16px;

      li {
        margin-bottom: 8%;
        a {
          font-family: $font-regular;
          color: #9cafbf;
          font-size: 16px;
        }
        img {
          margin-right: 20px;
          max-width: 24px;
          opacity: 0.6;
        }
        a:hover {
          color: #396080;
          text-decoration: none;
        }
        a:hover img {
          opacity: 1;
        }
        .active {
          color: #396080;
        }
        .active img {
          opacity: 1;
        }
      }
    }
    .image {
      width: 100%;
      border: 1px solid #ced6dd;
      text-align: center;

    }
    .goods-block {
      position: relative;
      padding: 0 10px;
      margin-bottom: 20px;
      .hover-image {
        display: none;
        margin: 0 auto;
      }
      &:hover {
        .hover-none {
          display: none;
        }
        .hover-image {
          display: block;
        }
        .review-goods-img:not(.buy-button) {
          display: block;
        }
      }
    }
    .goods-img {
      max-width: 100%;
      height: 222px;
      cursor: pointer;
    }
    .sale-img {
      position: absolute;
      top: 1px;
      left: 11px;
      cursor: pointer;
    }
    .sale-img1 {
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateY(0%) translateX(-50%);
      -moz-transform: translateY(0%) translateX(-50%);
      -ms-transform: translateY(0%) translateX(-50%);
      -o-transform: translateY(0%) translateX(-50%);
      transform: translateY(0%) translateX(-50%);

      cursor: pointer;
    }
    .sale-img2 {
      position: absolute;
      top: 28px;
      left: 11px;
      cursor: pointer;
    }
    .review-goods-img {
      position: absolute;
      top: 165px;
      right: 9px;
      width: 62px;
      cursor: pointer;
      opacity: 0.8;
      display: none;
      &.buy-button {
        right: 80px;
        background: none;
        border: none;
        padding: 0;
      }
      @media screen and (max-width: 500px) {
        display: block;
      }
    }
    .review-goods-img:hover {
      opacity: 1;
    }
    .goods-text-area {
      border: 1px solid #ced6dd;
      border-top: none;
      padding: 7% 1% 1% 9%;
      min-height: 84px;
      h2 {
        margin: 0;
        padding: 0;
        font-size: 15px;
        display: inline-block;
        width: 66%;
        a {
          color: $blue;
        }
      }
      .goods-name {
        font-family: $font-bold;
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 1.4px;
      }
      .goods-price {
        float: right !important;
        font-family: $font-regular;
        font-size: 15px;
        font-weight: bold;
        color: $blue;
        line-height: 1.1;
        opacity: 0.9;
        letter-spacing: 0;
        margin: 0;
        padding: 0;
        width: 30%;
        &:hover {
          text-decoration: none;
        }
      }
      p {
        color: #99adbe;
        font-family: $font-regular;
        font-size: 12px;
        letter-spacing: 1px;
      }
    }
    .more-block {
      opacity: 0.8;
      text-align: center;
      margin-top: 25px;
      margin-bottom: 140px;
      a {
        font-family: $font-semibold;
        color: $blue;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        &:hover img {
          -webkit-animation: spin 4s linear infinite;
          -moz-animation: spin 4s linear infinite;
          animation: spin 4s linear infinite;
        }
        img {
          margin-top: -4px;
          margin-right: 5px;
        }

      }
    }

    .nav-panel {
      position: absolute;
      top: -58px;
      width: 100%;
      .control-label {
        font-family: $font-bold;
      }
    }

    .product-layout {
      padding: 0;
    }

    @media (min-width: 1200px) {
      .container {
        width: 1060px;
        background-color: $site-bg;
        padding: 0 2%;
      }

    }
    @media (max-width: 1000px) {
      .middle-right-coll {
        padding: 0 20%;
      }
    }
    @media (max-width: 700px) {
      .top-left-text, .top-right-text {
        float: none !important;
        text-align: center;
      }
      .top-right-text, .nav-panel {
        select {
          margin-right: 0 !important;
        }
      }
      .more-items {
        display: block !important;
      }
      .middle-right-coll {
        padding: 0 15px;
      }
    }
  }

  #column-left {
    .left-menu {
      list-style: none;
      padding: 4px 0 4px 16px;
      li {
        margin-bottom: 8%;
        position: relative;
        padding-left: 45px;
        a {
          font-family: $font-regular;
          color: #9cafbf;
          font-size: 16px;
        }
        img {
          max-width: 24px;
          opacity: 0.6;
          position: absolute;
          top:50%;
          left:0;
          transform: translateY(-50%);
        }
        a:hover {
          color: $blue;
          text-decoration: none;
        }
        a:hover img {
          opacity: 1;
        }
        .active {
          color: $blue;
          font-size: 16px;
          font-family: $font-semibold;
        }
        .active img {
          opacity: 1;
        }
      }
    }
  }

  .product-preview {
    display: none;
    position: fixed;
    padding-top: 10%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(16, 25, 35, .7);
    z-index: 20;
    @media screen and (max-width: 500px) {
      background: none;
      &.in .popup-container {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }
      .mobile-hide {
        display: none;
      }
      &.in .item-page {
        -webkit-box-shadow: 3px 1px 5px 0 #2f4152;
        -moz-box-shadow: 3px 1px 5px 0 #2f4152;
        box-shadow: 3px 1px 5px 0 #2f4152;
      }
      .buy-wrapp-block {
        padding-top: 5px;
      }
      .price-amount, .price-size {
        width: 50%;
      }
      .price-amount {
        .before, .after, .number::before, .number::after {
          display: none !important;
        }
        .number {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          input {
            max-width: 25px !important;
            padding: 0!important;
          }
          button {
            display: block !important;
            width: 30px;
            height: 30px;
            padding: 0;
            margin: 0 5px 0 0;
            border: 0;
            background-size: 16px !important;
            &.before {
              background: #eee url("../../image/icon/plus.svg") center no-repeat;
            }
            &.after {
              background: #eee url("../../image/icon/minus.svg") center no-repeat;
            }
          }
        }
      }
      .price-size {
        text-align: left;
        padding-left: 0 !important;
        select {
          width: 120px;
        }
        p {
          padding-left: 0 !important;
        }
      }
    }
  }

  .alert-success {
    z-index: 20;
    position: relative;
  }

  @media (max-width: 991px) {
    .product-preview {
      overflow-y: visible;
      padding-bottom: 36px;
      padding-top: 36px;
    }
    .product-preview {
      .buy-wrapp-block {
        .buy-right-part {
          padding-left: 10px
        }
      }
    }
    .item-page {
      .buy-right-part {
        .separator {
          margin: 0 auto;
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    .arrow-up {
      display: none;
    }
    .product-preview {
      .price-size{
        &:nth-of-type(2n) {
          text-align: left;
        }
      }
    }

    .product-preview {
      .price-size{
        &:last-of-type{
          p{
            text-align: left;
            padding-left: 0;
          }
        }
        &:nth-of-type(2n){
          p{
            text-align: left;
            padding-left: 0;
          }
        }
      }
    }

    .item-page {
      .buy-right-part {
        .buy-block {
          .price-size{
            &:nth-of-type(2n) {
              select {
                width: 45px;
              }
            }
            &:last-of-type{
              select{
                width: 130px;
              }
            }
          }
        }
      }
    }
    .cart-wrapper.fixed {
      position: fixed !important;
      top: 8px;
      right: 8px;
      background-color: #fff;
      border-radius: 20px;
      z-index: 21;
      #cart-dropdown {
        margin-top: -4px;
      }
    }
  }
