.contacts-page,.information-contact{
  background-color: $site-bg;
  .top-wrapp{
    background-color: white;
    position: relative;
  }
  .top-elems{
    position: relative;
    margin-bottom: 2%;
    .text-elems.first{
      top: 18.9%;
    }
    .text-elems.second{
      top: 41%;
    }
    .text-elems.third{
      top: 59%;
    }
    img{
      width:100%;
    }
    h1{
      position: absolute;
      left: 4.5%;
      top: 8%;
      color: #ffffff;
      font-family: $font-bold;
      text-transform: uppercase;
      margin: 0;
      font-size: 28px;
      letter-spacing: 1.4px;
    }
    .text-elems{
      position: absolute;
      left: 4.5%;
      padding-left: 0;
      p{
        font-family: $font-regular;
        color: #FFFFFF;
        margin: 0;
        margin-top: -2px;
        font-size: 15px;
        letter-spacing: -0.5px;
        opacity: 0.8;
      }
      .bold{
        font-family: $font-semibold;
        letter-spacing: 0;
        margin: 0;
        opacity: 1;
      }
    }
    .button-elems{
      position: absolute;
      bottom: 7%;
      left: 2%;
      .col{
        padding-right: 0;
      }
      .bold{
        font-family: $font-bold;
        color: white;
        letter-spacing: 0.3px;
        margin: 6px 15px;
        font-size: 15px;
      }
      .btn-primary{
        color: grey;
        background-color: transparent;
        border-color: #fff;
      }
      .social{
        height: 33px;
        width: 100%;
        border: 1px solid #969fa8;
        position: relative;
        text-align: left;
        padding-left: 44px;
        color: rgba(213,216,220,0.8);
        margin-bottom: 10px;
        &:before{
          content: "";
          width: 33px;
          height: 32px;
          position: absolute;
          z-index: 1;
          display: block;
          top: 0;
          left: 0;
          background: #969fa8 url("../contacts-page/img/facebook.png") center no-repeat;
        }
        &:hover{
          border-color: #d5d8dc;
          color: rgba(213,216,220,1);
          &:before{
            background-color: #d5d8dc;
          }
        }
        &:focus{
          outline: none;
        }
        &.vk{
          &:before{
            background-image: url("../contacts-page/img/vkontakte.png");
          }
        }
        &.inst{
          &:before{
            background-image: url("../contacts-page/img/instagram.png");
          }
        }

      }
    }
  }
  .info-wrapp{
    margin-bottom: 100px;
    font-family: $font-semibold;
    font-size: 14px;
    color: $blue;
      .info-block{
        input{
          width: 100%;
          margin-bottom: 2.5%;
          opacity: 0.8;
          padding: 8px 14px;
          border: 1px solid #b2c1cd;
            &::-webkit-input-placeholder {color: $blue;}
            &::-moz-placeholder          {color: $blue;}/* Firefox 19+ */
            &:-moz-placeholder           {color: $blue;}/* Firefox 18- */
            &:-ms-input-placeholder      {color: $blue;}
            &:focus, &:active{
              outline: none;
              background-color: transparent;
            }
        }
        select{
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          opacity: 0.8;
          width: 100%;
          margin-bottom: 2.5%;
          padding: 8px 14px;
          border: 1px solid #b2c1cd;
          cursor: pointer;
          /*for WebKit*/
          -webkit-appearance: none;
          /* for FF */
          -moz-appearance: none;
          text-indent: 0.01px;
          /* for IE */
          -ms-appearance: none;
          appearance: none!important;
          background: #ffffff url('../contacts-page/img/arrow-down.png') 97% center no-repeat;
            &:focus, &:active{
              outline: none;
              background-color: transparent;
            }
        }
        textarea{
          opacity: 0.8;
          width: 100%;
          margin-bottom: 2%;
          padding: 8px 14px;
          border: 1px solid #b2c1cd;
          resize: none;
            &::-webkit-input-placeholder {color: $blue !important;}
            &::-moz-placeholder          {color: $blue !important;}/* Firefox 19+ */
            &:-moz-placeholder           {color: $blue !important;}/* Firefox 18- */
            &:-ms-input-placeholder      {color: $blue !important;}
            &:focus, &:active{
              outline: none;
              background-color: transparent;
            }
        }
        .button-wrapp{
          text-align: center;
          button{
            margin-top: 1%;
            background-color: transparent;
            border: 3px solid #254b6f;
            color: #254b6f;
            font-family: $font-bold;
            padding: 3.9% 18%;
            text-transform: uppercase;
            font-size: 13px;
            letter-spacing: 1px;
            margin-bottom: 2%;
              &:hover{
                opacity: 0.5;
              }
          }
        }
      }
      .map-wrapp{
        img{
          width: 100%;
        }
      }
  }
  @media (min-width: 1200px){
    .container.top-wrapp{
      width:1060px;
    }
    .top-elems{
      margin: 0 -35px 20px;
      width: auto;
    }
    .top-wrapp .top-elems{
      padding: 0;
      margin-left: -20px;
      width: 104%;
    }
    .button-elems{
      width:50%;
    }

  }
  @media (min-width: 992px){
    .col-md-6.info-block{
      padding: 9% 8% 0 9%;
    }
    .col-md-6.map-wrapp {
      padding: 0;
      padding-right: 30px;
    }
  }
  @media (max-width: 1200px){
    .top-elems{
      position: inherit;
      h1{
        left: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        -moz-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
        -o-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
      }
      .row.top-elems-wrapp{
        margin-top: 2%;
        padding: 0 30px;
      }
      .text-elems{
        position: inherit;
        margin-bottom: 2%;
        padding-left: 15px;
        p{
          color:#617f97;
        }
        .bold{
          color:#39607f;

        }
      }
      .button-elems{
        position: inherit;
        .bold{
          color:#39607f;
        }
        .btn-primary{
          color:#617f97;
        }
      }
    }
  }
  @media (max-width: 992px){
    .top-elems-wrapp{
      text-align: center;
    }
  }
  @media (min-width: 992px){
    .info-block{
      padding: 0 5px 0 31px;
    }
    .map-wrapp{
      padding-right: 28px;
    }
  }
}