a{
  outline:none;
}
.country{
  .col-xs-1-7,
  .col-sm-1-7,
  .col-md-1-7,
  .col-lg-1-7 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .col-xs-1-7 {
    width: 14.28%;
    float: left;
  }

  .wrapper{
    position: relative;
    padding-top: 47%;
    background: url("../country/img/background-wrapp.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .country-wrap {
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    position: absolute;
  }

  .country-container{
    text-align: center;
    background-color: #ffffff;
    margin-top: 1%;
    padding-bottom: 4%;
    .logo{
      margin-top: 5%;
    }
    .location-ru h1, .location-eng h1{
      font-family: $font-semibold;
      color: #396080;
      font-size: 16.2px;
      text-transform: uppercase;
      margin-top: 15px;
      font-weight: 800;
      margin-bottom: 8px;
    }
    .location-eng h1{
      margin-top: 0;
    }
    .country-row{
      margin-top: 1.5%;
      padding: 0 5%;
      border-bottom: 1px solid #a8b9c7;
      ul{
        padding: 0;
      }
      .country-block{
        font-family: $font-bold;
        color: #a8b9c7;
        list-style: none;
        .country-name{
          margin-top: 6%;
          text-transform: uppercase;
          font-size: 15px;
          letter-spacing: 1.5px;
          line-height: 20px;
          display: block;
          color: #a8b9c7;
          height: 175px;
          &
          img{
            margin: 0 auto 6%;
            display: block;
          }
        }
      }
      .country-name:hover,
      .country-name:focus{
        color: #396080;
        cursor: pointer;
        text-decoration: none;
      }
      .country-name.active{
        color:#396080;
        border-bottom:3px solid #396080;
      }
    }
    .country-name:hover{
      border-bottom:3px solid #396080;
    }
  }

  @media (min-width: 1800px){
    .wrapper{
      padding-top: 50%;
    }
  }
  @media (min-width: 1200px){
    .container{
      width: 1000px;
    }
  }

  @media (min-width: 1200px) {
    .col-lg-1-7 {
      width: 14.28%;
      float: left;
    }
  }
  @media (max-width: 1450px){
    .wrapper{
      padding-top: 75%;
    }
  }
  @media (max-width: 1000px){
    .wrapper{
      background-image:none;
    }
    .country-container .country-row{
      border:none;
      padding: 0 30%;
    }
  }

  @media (min-width: 1001px) {
    .col-md-1-7 {
      width: 14.28%;
      float: left;
    }
  }

  @media (min-width: 768px) {
    .col-sm-1-7 {
      width: 14.28%;
      float: left;
    }
  }

  @media (max-width: 500px){
    .country-container .country-row{
      padding: 0 5%;
    }
  }
}