.information-information-6 {
  font-family: $font-regular;
  color: #303335;
  font-size: 16px;
    #content {
      padding: 0 8.33333333%;
    }
    b{
      font-family: $font-semibold;
    }
    .blue{
        color: $blue !important;
    }
    .blue-light{
      color: $blue-light;
    }
    .delivery-payments{
      margin-bottom: 80px;
      .font{
        font-family: $font-semibold;
      }
      .content-wrapper{
        position: relative;
        .background-color{
          background-color: white;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: 0 auto;
        }
      }

      hr{
        border-color: rgba(51, 51, 51, 0.3);
        position: relative;
        margin: 40px auto;
      }
      .blue-light{
        font-size: 13px;
      }
      .blue{
        font-size: 15px;
      }
      h1,h2{
        color: $blue;
        font-size: 24px;
        text-transform: uppercase;
        font-family: $font-bold;
        text-align: center;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        margin-bottom: 70px;
        margin-top: 15px;
        position: relative;
      }
      .small-row{
        margin: 0 auto 30px auto;
        text-align: center;
        .width{
          height: 180px;
        }
      }
      p.icon{
        height: 45px;
        margin-bottom: 25px;
      }
      img{
        width: auto;
      }
      .text-block{
        font-size: 16px;
        margin: 0;
      }
      .last-elems{
        margin: 0 0 5%;
        font-size: 16px;
      }




    @media (min-width: 1200px){
      .content-wrapper .background-color{
        width: 1060px;
      }
    }
    @media (max-width: 992px){
      background-color: white;
      hr{
        width: 100%;

      }
    }
    @media (max-width: 750px){
      h1, h2{
        margin-bottom: 20px;
      }
      .l-margin{
        margin-bottom: 30px;
      }
    }
  }
}