@font-face {
  font-family: 'proximanova-bold';
  src: url('../fonts/proximanova/proximanova-bold/proximanova-bold-webfont.eot');
  src: url('../fonts/proximanova/proximanova-bold/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova/proximanova-bold/proximanova-bold-webfont.woff2') format('woff2'),
  url('../fonts/proximanova/proximanova-bold/proximanova-bold-webfont.woff') format('woff'),
  url('../fonts/proximanova/proximanova-bold/proximanova-bold-webfont.ttf') format('truetype'),
  url('../fonts/proximanova/proximanova-bold/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proximanova-light';
  src: url('../fonts/proximanova/proximanova-light/proximanova-light-webfont.eot');
  src: url('../fonts/proximanova/proximanova-light/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova/proximanova-light/proximanova-light-webfont.woff2') format('woff2'),
  url('../fonts/proximanova/proximanova-light/proximanova-light-webfont.woff') format('woff'),
  url('../fonts/proximanova/proximanova-light/proximanova-light-webfont.ttf') format('truetype'),
  url('../fonts/proximanova/proximanova-light/proximanova-light-webfont.svg#proxima_novalight') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('../fonts/proximanova-regular/proximanova-reg-webfont.eot');
  src: url('../fonts/proximanova-regular/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova-regular/proximanova-reg-webfont.woff2') format('woff2'),
  url('../fonts/proximanova-regular/proximanova-reg-webfont.woff') format('woff'),
  url('../fonts/proximanova-regular/proximanova-reg-webfont.ttf') format('truetype'),
  url('../fonts/proximanova-regular/proximanova-reg-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'proxima_nova_semibold';
  src: url('../fonts/proxima-nova-semibold/proxima_nova_semibold_0-webfont.eot');
  src: url('../fonts/proxima-nova-semibold/proxima_nova_semibold_0-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proxima-nova-semibold/proxima_nova_semibold_0-webfont.woff2') format('woff2'),
  url('../fonts/proxima-nova-semibold/proxima_nova_semibold_0-webfont.woff') format('woff'),
  url('../fonts/proxima-nova-semibold/proxima_nova_semibold_0-webfont.ttf') format('truetype'),
  url('../fonts/proxima-nova-semibold/proxima_nova_semibold_0-webfont.svg#proxima_nova_ltsemibold') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'proxima_nova_thin';
  src: url('../fonts/proxima-nova-thin/proxima_nova_thin_0-webfont.eot');
  src: url('../fonts/proxima-nova-thin/proxima_nova_thin_0-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proxima-nova-thin/proxima_nova_thin_0-webfont.woff2') format('woff2'),
  url('../fonts/proxima-nova-thin/proxima_nova_thin_0-webfont.woff') format('woff'),
  url('../fonts/proxima-nova-thin/proxima_nova_thin_0-webfont.ttf') format('truetype'),
  url('../fonts/proxima-nova-thin/proxima_nova_thin_0-webfont.svg#proxima_nova_ththin') format('svg');
  font-weight: normal;
  font-style: normal;

}