.strong{
  font-family: $font-bold;
}
.font-sm{
  font-size: 12px;
}
.italic{
  font-style: italic;
}

.uppercase{
  text-transform: uppercase;
}

.history .content-wrapper{
  padding-bottom: 0;
  h1.bold{
    font-family: $font-semibold;
    font-size: 29px;
    letter-spacing: 1px;
  }
}
.history{
  .bottom{
    padding-bottom: 100px;
  }
  .l-semibold{
    font-family: $font-semibold;
  }
  .l-margin-top{
    margin-top: -5px;
    margin-bottom: 5%;
  }
  .l-line-height{
    line-height: 24px;
  }
  .slider-wrapp{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .l-light{
    font-family: $font-light;
  }
  .background-color{
    z-index: 0;
  }
  .all-partners{
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 50px;
    .btn{
      border-width: 3px;
      text-transform: uppercase;
      font-size:13px;
      font-family: $font-bold;
    }
  }

  h2{
    text-transform: uppercase;
    margin-top: 50px;
    font-size: 28px;
    font-family:$font-semibold;
    text-align: center;
    color: #274d70;
    margin-bottom: 40px;
  }
  .map-wrapper{
    position: relative;
  }
}


.map-wrapper{
  .point{
    position: absolute;
    width: auto;
    z-index: 100;
    img{
      width:13px;
      float: right;
    }
    .point-info{
      display: none;
      width: 240px;
      margin-top: 0;
      margin-left: -225px;
      padding: 25px;
      color: $blue;
      background-color: #FFFFFF;
      -webkit-box-shadow: 0 20px 45px 10px rgba(70,131,178,0.25);
      -moz-box-shadow: 0 20px 45px 10px rgba(70,131,178,0.25);
      box-shadow: 0 20px 45px 10px rgba(70,131,178,0.25);
        p{
          font-size: 15px;
          font-family: $font-semibold;
            &.font-sm{
              font-size: 12px;
              font-family: $font-regular;
              color: $blue-md;
              font-weight: bold;
              margin: 0;
            }
        }
        a{
          font-family: $font-semibold;
          color: $blue-md;
          font-size: 15px;
          text-decoration: none;
        }
    }
    &:hover{
      z-index: 200;
      width: 35px;
      margin-left: -22px;
      .point-info{
        z-index: 201;
        display: block;
      }
    }
    &:nth-child(2){
      left: 94%;
      top: 90%;
    }
    &:nth-child(3){
      left: 80%;
      top: 44%;
    }
    &:nth-child(4){
      left: 13%;
      top: 40%;
    }
    &:nth-child(5){
      left: 54%;
      top: 34%;
    }
    &:nth-child(6){
      left: 47%;
      top: 32%;
    }
    &:nth-child(7){
      left: 53%;
      top: 39%;
    }
    &:nth-child(8){
      left: 18%;
      top: 51%;
    }
    &:nth-child(9){
      left: 26%;
      top: 35%;
    }
    &:nth-child(10){
      left: 24%;
      top: 37%;
    }
    &:nth-child(11){
      left: 50%;
      top: 42.5%;
    }
    &:nth-child(12){
      left: 48.2%;
      top: 34.5%;
    }
  }
}

@media (min-width: 992px) {
  .history img.history-wrapp{
    width: 106%;
    margin-left: -30px;
  }
}