/*----------------------item-page--------------------------*/
.item-page {
  background-color: $site-bg;
  &.white {
    background-color: #FFFFFF;
  }
  .container {
    background-color: #fff !important;
  }
  .owl-carousel {
    margin: 0 !important;
    .owl-wrapper-outer {
      border: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      margin: 0;
    }
    .owl-item{
      padding: 60px;
    }

  }

  .buy-wrapp-block {
    background-color: white;

  }
  .slide-block {
    margin: 0;
      .owl-buttons{
        .owl-next,.owl-prev{
          top: 92%;
        }
        .owl-next{
          right: 25px;
        }
        .owl-prev{
          left: 25px;
        }
      }
      .l-arrow, .r-arrow {
        top: inherit;
        bottom: 50%;
      }
      .l-arrow {
        right: 30px;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
      }
      .r-arrow {
        left: 30px;

      }

    img {
      width: 100%;
      max-height: 440px;
    }
  }
  .buy-right-part {
    padding-left: 67px;
    h1 {
      font-family: $font-bold;
      text-transform: uppercase;
      color: #1e405c;
      font-size: 29px;
      font-weight: 800;
      letter-spacing: 1px;
    }
    .separator {
      border-bottom: 3px solid #d0d5dd;
      width: 40px;
    }
    .buy-text-1 {
      margin-top: 16px;
      color: #828e9a;
      font-family: $font-regular;
      font-weight: 100;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.3px;
    }
    .buy-block {
      margin-top: 12%;
      padding: 0 17% 0 0;
      margin-left: 0;
      margin-right: 0;
      .col {
        min-height: 85px;
      }
        .price-elems{
          padding-left: 0;
          position: relative;
          padding-right:1px;
          .first_delivery{
            position: absolute;
            bottom:10px;
          }
        }
        .price-elems, .price-amount, .price-size {
          .text {
            font-family: $font-bold;
            color: #a8b0b9;
            text-transform: uppercase;
            font-size: 11px;
            margin-bottom: 1px;
            letter-spacing: 0;

          }
          .number {
            color: #1e405c;
            font-family: $font-regular;
            font-size: 26px;
            span {
              font-size: 14px;
            }
            button{
              display: none;
            }
          }
        }
        .price-amount {
          .number {
            position: relative;
            input {
              max-width: 30px;
              border: none;
              &:focus, &:hover {
                outline: none;
              }
            }
            &:before, span.before {
              content: "";
              width: 8px;
              height: 6px;
              background: url("../item_page/img/arrow-up.png");
              display: block;
              position: absolute;
              top: 10px;
              left: 30px;
              cursor: pointer;
              z-index: 1;
            }
            &:after, span.after {
              content: "";
              width: 8px;
              height: 6px;
              background: url("../item_page/img/arrow-down.png");
              display: block;
              position: absolute;
              bottom: 12px;
              left: 30px;
              cursor: pointer;
              z-index: 1;
            }
            span.before, span.after {
              z-index: 10;
            }
          }
        }
        .price-size {
          padding-left: 0;
          padding-right: 0;
          &:nth-of-type(3){
            select {
              min-height: 20px;
            }
          }
          &:nth-of-type(2n) {
            select {
              width: 45px;
            }
          }
          &:last-of-type {
            select {
              width: 130px;
            }
          }
          select {
            cursor: pointer;
            border: none;
            color: #1e405c;
            font-family: $font-regular;
            font-size: 26px;
            padding-right: 14px;
            min-height: 60px;
            width: 110px;
            text-indent: 0.01px;
            text-overflow: '';
            background:  #ffffff url("../item_page/img/arrow-down.png") right center no-repeat;
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            appearance: none !important;
            @media screen and (max-width: 500px){
              width: 100px;
            }
            &:focus, &:active {
              outline: none;
              background-color: transparent;
            }
          }
          select::-ms-expand {
            display: none;
          }
      }
    }
    .buy-whishlist {
      margin-top: 5%;
      margin-left: 0;
      margin-right: 0;
        button {
          float: left;
          cursor: pointer;
          font-family: $font-bold;
          color: white;
          background-color: #274d70;
          text-transform: uppercase;
          padding: 4.2% 0;
          width: 58%;
          box-sizing: border-box;
          font-size: 15px;
          letter-spacing: 2px;
          border: none;
        }
        .wishlist-btn{
          float: left;
          padding: 4% 0;
          width: 42%;
          text-align: center;
          font-family: $font-bold;
          text-transform: uppercase;
          cursor: pointer;
          color: #6b869c;
            span{
              padding-left: 25px;
              position: relative;
              &:before{
                top: 0.5px;
                left: -2%;
                content: url('/catalog/view/theme/default/image/whishlist-img.png');
                position: absolute;
              }
            }
            &:hover {
              text-decoration: none;
              opacity: 0.8;
            }
            img {
              margin-right: 10px;
            }
        }
    }
    .buy-bottom-text {
      margin-top: 6.2%;
      p {
        color: #bcc0c5;
        margin-bottom: 6px;
        text-transform: uppercase;
        font-family: $font-regular;
        font-size: 12px;
        letter-spacing: 1px;
        span {
          text-transform: uppercase;
          color: #396080;
          font-family: $font-bold;
          font-size: 13px;
          margin-right: 5px;
          letter-spacing: normal;
        }
      }
    }
  }
  /*----------------- container buy-wrapp-block-кінець ----------------------------*/
  .free-space-block {
    background-color: white;
    padding: 2.3% 0;
  }
  /*----------------- container unique-design-block ----------------------------*/
  .unique-design-block {
    position: relative;
    background-color: #fff;
    padding: 0;
    .unique-design-left {
      position: relative;
      z-index: 1;
      img {
        width: 100%;
      }
    }
    .unique-design-right {
      position: relative;
      z-index: 1;
      background-color: rgba(255, 255, 255, 0.94);
      float: left;
      margin-top: 2%;
      text-align: center;
      margin-left: -5.5%;
      padding: 3.5% 3.5% 7.5%;
      .slider {
        position: relative;
        margin-top: 70px;
          .slider-pagination {
            margin-left: 6px;
            position: static;
            .diamond {
              display: inline-block;
              float:none;
              background-color: #274d70;
            }
          }
      }
      h2 {
        font-family: $font-bold;
        text-transform: uppercase;
        font-size: 29px;
        line-height: 34px;
        margin: 0 auto;
        letter-spacing: 1px;
        color: #1e405c;
        margin-bottom: 5%;
      }
      p {
        color: #4b667d;
        font-family: $font-regular;
        font-size: 15px;
        line-height: 22px;
      }
    }
  }
  /*------------------- container more-items-block -------*/
  .more-items-block {
    background-color: #fff;
    padding-top: 3.5%;
    .separator-1 {
      border-bottom: 1px solid #ced6dd;
      margin: 0 auto;
      width: 95%;
    }
    h3 {
      text-align: center;
      color: $blue-md;
      font-family: $font-semibold;
      font-size: 15px;
      text-transform: uppercase;
      margin: 24px 0 20px;
    }
  }

  /*------------------- goods-block-Імпорт з сторінки category-page -------*/
  .row.import-elems {
    padding: 0 3%;
    margin-bottom: 5%;
  }
  .goods-block {
    position: relative;
    padding: 0 10px;
    margin-bottom: 2.7%;
  }
  .goods-img {
    max-width: 100%;
    cursor: pointer;
  }
  .sale-img {
    position: absolute;
    top: 1px;
    left: 11px;
    cursor: pointer;
  }
  .sale-img1 {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateY(0%) translateX(-50%);
    -moz-transform: translateY(0%) translateX(-50%);
    -ms-transform: translateY(0%) translateX(-50%);
    -o-transform: translateY(0%) translateX(-50%);
    transform: translateY(0%) translateX(-50%);

    cursor: pointer;
  }
  .sale-img2 {
    position: absolute;
    top: 28px;
    left: 11px;
    cursor: pointer;
  }
  .review-goods-img {
    position: absolute;
    top: 55%;
    right: 10px;
    width: 62px;
    cursor: pointer;
    opacity: 0.8;
  }
  .review-goods-img:hover {
    opacity: 1;
  }
  .goods-text-area {
    border: 1px solid #ced6dd;
    border-top: none;
    padding: 7% 5% 1% 9%;
    a:hover {
      text-decoration: none;
    }
    .goods-name {
      font-family: $font-bold;
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: 1.4px;
      color: #396080;
    }
    p {
      color: #99adbe;
      font-family: $font-regular;
    }
  }
  /*------------------- goods-block-Імпорт з сторінки category-page-кінець -------*/

  @media (max-width: 1200px) {
    .buy-whishlist {
      a {
        display: block;
        margin: 15px 0 !important;
      }
    }
  }
  @media (max-width: 992px) {
    .buy-right-part {
      padding-left: 15px;
      text-align: center;
      .buy-block {
        margin-top: 5%;
        text-align: left;
        padding: 0 15px;
      }
    }
    .unique-design-block .unique-design-right .slider .slider-pagination {
      right: 44%
    }

    .unique-design-block .unique-design-right {
      margin-left: 0;
    }
  }

  @media (min-width: 1200px) {
    .unique-design-block .unique-design-right {
      height: 352px;
    }
  }


  @media (max-width: 768px) {

    .popup-container {
      width: 90%;
    }

  }

  @media (max-width: 550px) {
    .unique-design-block .unique-design-right .slider .slider-pagination {
      right: 35%
    }
  }

  //  popup media
  @media (min-width: 992px) {
    .col-md-7.buy-left-part {
      width: 52.1%;
      padding-left: 0;
      padding-right: 0;
      margin-left: -30px;

      -webkit-box-shadow: 0 29px 62px 0 rgba(70, 131, 178, 0.29);
      -moz-box-shadow: 0 29px 62px 0 rgba(70, 131, 178, 0.29);
      box-shadow: 0 29px 62px 0 rgba(70, 131, 178, 0.29);
    }
    .col-md-5.buy-right-part {
      width: 47.9%;
      padding-right: 10px;
    }
    .unique-design-block .unique-design-right {
      width: 31.7333333%;
      margin-left: -7.5%;
      margin-top: 1.3%;
      padding: 1.5% 3.5% 0.5%;

      -webkit-box-shadow: 0 29px 62px 0 rgba(70, 131, 178, 0.29);
      -moz-box-shadow: 0 29px 62px 0 rgba(70, 131, 178, 0.29);
      box-shadow: 0 29px 62px 0 rgba(70, 131, 178, 0.29);
    }
    .unique-design-block .unique-design-left {
      width: 66.666667%;
      float: left;
    }
    .unique-design-block .unique-design-right .slider {
      margin-top: 40px;
    }

  }

  @media (min-width: 1200px) {
    .container.buy-wrapp-block {
      width: 1060px !important;
    }
    .container.free-space-block {
      width: 1060px;
    }
    .unique-design-background {
      background-color: #FFFFFF;
      height: 100%;
      width: 1060px;
      margin-left: -530px;
      position: absolute;
      left: 50%;
      right: 50%;
      top: 0;
      bottom: 0;
    }
    .container.unique-design-block {
      width: 1120px;
      padding: 0;
      background: none !important;
      .col-md-8 {
        padding-left: 0;
        margin-left: -20px;
      }
    }
    .container.more-items-block {
      width: 1060px;
    }
    .unique-design-block .unique-design-right {
      margin-left: -3.5%;
      margin-top: 2%;
      padding: 1.5% 3.5% 4.5%;
      -webkit-box-shadow: 0px 29px 62px 0px rgba(70, 131, 178, 0.29);
      -moz-box-shadow: 0px 29px 62px 0px rgba(70, 131, 178, 0.29);
      box-shadow: 0px 29px 62px 0px rgba(70, 131, 178, 0.29);
    }
  }
}


