.lookbook-view {
  .images {
    margin-top: 50px;
    img {
      margin-bottom: 20px;
    }
  }
}

.blog .content-wrapper {
  position: relative;
  background-color: $site-bg;
  font-size: 16px;
  font-family: $font-regular;
    .container{
      padding-bottom: 60px;
    }
    .background-color{
      background-color: white;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: 0 auto;
    }
    h1 {
      position: absolute;
      color: #FFFFFF;
      display: block;
      font-family: $font-bold;
      font-size: 28px;
      text-align: center;
      margin: 0;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      left: 50%;
      top: 50%;
      -webkit-transform: translateY(-50%) translateX(-50%);
      -moz-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
      -o-transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%);
    }
    img {
      width: 100%;
    }
    ul li {
      list-style: none;
    }
    .social-sharing {
      text-align: center;
      padding-left: 0;
      li {
        padding: 3px 0;
      }
      img {
        width: auto;
        max-width: 20px;
        max-height: 20px;
      }
    }

    .article-title {
      margin-bottom: 54px;
    }

    .head-text {
      font-size: 20px;
      margin-bottom: 30px;
      font-family: $font-regular;
    }
    p{
      font-size: 16px;
    }

    @media (min-width: 1200px){
      .background-color{
        width: 1060px !important;
      }
      .lookbook-view-head-img{
        width: 106%;
        margin-left: -30px;
      }
    }

    @media (max-width: 992px){
      background-color:white;
    }
}
