/*------------------------ lookbook-page -----------------------*/
.lookbook-page{
  .container{
    padding-bottom: 60px;
  }
  button {
    a {
      color: #FFFFFF;
      text-decoration: none;
    }
    a:hover {
      color: #FFFFFF;
      text-decoration: none;
    }
  }

  .hidden{
    display: block;
  }
  background-color: $site-bg;
  img{
    width: 100%;
  }
  .top-slider-wrapp{
    background-color: white;
    .slider-window{
      position: relative;
      margin-bottom: 2%;
      margin-top: 0;
      h1{
        position: absolute;
        top: 9.5%;
        left: 4.5%;
        color: #ffffff;
        font-family: $font-bold;
        text-transform: uppercase;
        margin: 0;
        font-size: 28px;
        letter-spacing: 2.8px;
      }
      p{
        position: absolute;
        top: 18%;
        left: 4.7%;
        color: #fff;
        font-family: $font-regular;
        letter-spacing: 0.45px;
      }
      button{
        font-family: $font-bold;
        font-size: 13px;
        position: absolute;
        bottom: 8%;
        left: 4.5%;
        background-color: transparent;
        color: white;
        text-transform: uppercase;
        padding: 16px 24px;
        border: 3px solid #fff;
        box-shadow: none;
        letter-spacing: 1.1px;
      }
    }
  }
  .free-space{
    margin-top: 2%;
  }
  .three-col{
    position: relative;
    .small-col{
      margin-bottom: 2%;
      h1{
        position: absolute;
        top: 27px;
        left: 43px;
        color: #ffffff;
        font-family: $font-bold;
        margin: 0;
        font-size: 26px;
        letter-spacing: 2.3px;
        text-transform: uppercase;
      }
      button{
        font-family: $font-bold;
        font-size: 12px;
        position: absolute;
        bottom: 28px;
        left: 45px;
        background-color: transparent;
        color: white;
        text-transform: uppercase;
        padding: 16px 23px;
        border: 3px solid #fff;
        box-shadow: none;
        letter-spacing: 1.1px;
        display: none;
      }
    }
    .small-col:hover button{
      display: block;
      cursor: pointer;
    }
  }
  @media (min-width: 1200px){
    .container.top-slider-wrapp{
      width:1060px;
    }
    .top-slider-wrapp .slider-window{
      padding: 0;
      margin-left: -20px;
      width: 104%;
    }
    .free-space{
      padding-left: 1.5%;
    }
    .three-col{
      padding-right: 1.5%;
    }
    .three-col{
      padding-left: 1.5%;
    }
    .three-col .small-col{
      width: 33.15%;
      padding-right: 8px;
    }
  }
  @media (max-width: 1000px){
    .hidden{
      display:none;
    }
    .three-col{
      padding: 0 20%;
    }
  }
  @media (max-width: 780px){
    .top-slider-wrapp .slider-window p{
      top: 25%;
    }
  }
  @media (max-width: 500px){
    .slider-window{
      cursor: pointer;
    }
    .top-slider-wrapp .slider-window h1{
      font-size: 23px;
      text-align: center;
      left: 50%;
      top: 50%;
      -webkit-transform: translateY(-50%) translateX(-50%);
      -moz-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
      -o-transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%);
    }
    .top-slider-wrapp .slider-window p{
      display: none;
    }
    button{
      display: none;
    }
  }
}