// FONTS VARIABLES
 $font-bold : "proximanova-bold";
 $font-regular : "proxima_nova_rgregular";
 $font-light : "proximanova-light";
 $font-semibold : "proxima_nova_semibold";
 $font-thin : "proxima_nova_thin";

// COLOR VARIABLES
  $blue-light : #6b89a0;
  $blue : #396080;
  $blue-smd : rgba(57,96,128,0.9);
  $blue-md : rgba(57,96,128,0.8);
  $blue-ll : rgba(57,96,128,0.6);

  $site-bg: #f5f5f5;

// SPECIFIC VARIABLES
 $row-lg : 480px;
 $row-md : 332px;
 $row-sm : 320px;
 $row-summer : 400px;

.btn-success{
  border: none;
}
.block-center{
  display: block;
  margin: 0 auto;
  width: auto;
}
.semibold{
  font-family: $font-semibold;
}
.scrollToTop{
  width:65px;
  height:65px;
  padding:20px;
  text-align:center;
  background: #edae00;
  font-weight: bold;
  color: #444;
  text-decoration: none;
  position:fixed;
  bottom:100px;
  right:4%;
  display:none;
  z-index: 10;
  &:hover{
    text-decoration:none;
    background: #edae00;
  }
}

.close{
  opacity: 0.6;
    &:hover{
      opacity: 1;
    }
}

.btn:focus{
  outline: none !important;
}

.owl-wrapper-outer{
  border: none!important;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
}

button:focus{
  outline: none;
}

.no-padding {
  padding: 0 !important;
}

.vcenter{
  vertical-align: middle !important;
}

.semibold{
 font-family: $font-semibold
}
.top-margin-lg{
 margin-top: 50px;
}
.top-margin-sm{
  margin-top: 20px;
}
.bottom-margin-xs{
  margin-bottom: 10px;
}
.bottom-margin-sm{
  margin-bottom: 20px;
}
.bottom-margin-md{
  margin-bottom: 30px;
}
.bottom-margin-lg{
  margin-bottom: 50px;
}
.font-md{
  font-size: 16px;
}
.btn-lg{
  border-width: 3px;
  text-transform: uppercase;
  font-family: $font-semibold;
  font-size: 13px;
}
.bottom-margin-xxxlg{
  margin-bottom: 100px;
}
.top-margin-md{
  margin-top: 30px;
}


 .breadcrumb{
   background-color: #f5f7f9;
   margin-left: -15px;
   margin-right: -15px;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
   margin-bottom: 30px;

     a{
       color:#acb1b8;
       font-family: $font-regular;
       font-size: 12px;
       text-transform: uppercase;
     }
     span{
       color:#acb1b8;
       font-size: 12px;
       font-family: $font-regular;
       text-transform: uppercase;
     }
     a:hover{
       text-decoration: none;
       color:#4E5052;
     }

 }

 body{
   background-color: $site-bg;
    &.common-home{
      .container{
        background: none;
      }

    }
   .container{
     background: #FFFFFF;
   }
}

 .btn-default{
   border-width: 2px;
 }


 a:focus,a:hover,a:active,a:visited{
   outline: none;
   background:none;
 }

 .background-color{
   background-color:white;
   position: absolute;
   top:0;
   left: 35px;
   right: 35px;
   bottom:0;
   z-index: -1;
   margin: 0 auto;
 }

 .nav>li.cart-wrapper{
    position: relative;
   @media (max-width:350px) {
     &:not(.fixed) .dropdown-menu{
       right: -85px;
     }
   }
   &>a{
     position: static;
   }
 }


#cart{
  position: absolute;
  left: 0;
  top: 0;
  color:#000;
  background: none;
  text-align: center;
  width: 42px;
  padding: 0;
  padding-top: 14px;
  cursor: pointer;
  .close{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 999;
  }
  small{
    color: #1e405c;
    opacity: 0.7;
    font-size: 12px;
  }
  .btn{
    width: 100%;
    border: none;
    a{
      color: #ffffff;
    }
  }
  a{
    color: $blue;
  }
  table.table-total{
    color: $blue;
    font-family: $font-bold;
    font-size: 16px;
    margin-bottom: 15px!important;
    margin-top: 5px!important;
  }
  .products-list{

    .remove-item{
      cursor: pointer;
      background: none;
      border:none;
        &:hover{
          text-decoration: none;
        }
    }
    &.table{
      td{
        padding-left:5px;
      }
    }
    td{
      color: $blue;
      font-size: 14px;


      &.product-name{
        padding-top: 3px;

      }
      &:last-child{
        color: $blue;
        opacity: 0.9;
        width: 2%;
      }
      &:first-child{
        width: 75px;
      }
    }
  }
  .dropdown-menu{
    -webkit-box-shadow: 0 29px 62px 10px rgba(70,131,178,0.15);
    -moz-box-shadow: 0 29px 62px 10px rgba(70,131,178,0.15);
    box-shadow: 0 29px 62px 10px rgba(70,131,178,0.15);
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .separator{
    border-bottom: 1px solid #ced6dd;
    margin: 0 auto;
    width: 91%;
  }
  .table{
    margin-bottom: 0 !important;
    td{
      padding: 1px;
    }
    a{
      font-family: $font-bold;
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: 1.4px;
    }
  }

  .table>thead>tr>th, .table>thead>tr>td, .table>tbody>tr>th, .table>tbody>tr>td, .table>tfoot>tr>th, .table>tfoot>tr>td{
    border-top: none;
  }
  #cart-total{
    display: block;
    color: #fff;
    font-family: "proxima_nova_semibold";
    font-size: 10px;
    background: #eb3d41;
    border-radius: 50%;
    position: absolute;
    top: 24px;
    right: 6px;
    width: 15px;
  }

  > .dropdown-toggle{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 34px;
  }
  > .dropdown-menu{
    min-width: 260px;
    li{
      width: 100%;
      box-sizing: border-box;
    }
  }
  .img-thumbnail{
    min-width: 65px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }

}
#form-language{
  margin-top: -13px;
  margin-right: -1px;
  cursor: pointer;

  .dropdown-menu{
    min-width: 10px;
  }
  .btn.btn-link.dropdown-toggle{
    color:#fff;
    font-size: 11px;
    padding: 12px 25px 9px 28px;
    text-decoration: none;
      span{
        padding-right: 5px;
      }
      img{
        padding-bottom: 4px;
      }
  }
}
 #form-language .language-select {
   text-align: left;
 }
 #form-language .language-select:hover {
   text-shadow: none;
   color: #ffffff;
   background: #229ac8 linear-gradient(to bottom, #23a1d1, #1f90bb) repeat-x;
 }

  // HEADER BEGIN =-===================================3

 .container.narrow{
   padding-left: 0;
   padding-right: 0;
   background: none!important;
 }
 .subscription-page{
   padding-top: 6%;
   .container{
     background: #FFFFFF !important;
   }
 }
    header{
      .nav>li>a:hover, .nav>li>a:focus{
        background-color: transparent;
        background: none;
        outline: none;

      }
      .search-block{
        display: none;
          .search-header{
            position: absolute;
            width: 850px;
            height: 25px!important;
            right: 0;
            top: 1px;
            padding: 0;
            border: none;
            z-index: 30;
            background-color: #fff;
            .preresult-place{
              padding: 20px;
              .search-results{
                padding-top: 0;
              }
            }
            input[name="search"]{
              padding: 0 20px;
              display: block;
              height: 41px;
              width: 100%;
              border: 1px solid #ced6dd;
              color: #396080;
              &::-webkit-input-placeholder {color:#396080;}
              &::-moz-placeholder          {color:#396080;}/* Firefox 19+ */
              &:-moz-placeholder           {color:#396080;}/* Firefox 18- */
              &:-ms-input-placeholder      {color:#396080;}
            }
            button{
              position: absolute;
              top: 6px;
              right: 10px;
              font-size: 25px;
              color: #88a0b3;
              &:hover{
                opacity: 1;
              }
            }
          }
      }
      img{
        width: auto !important;
      }
      ul.nav li{
        display: inline-block;
      }
      .background{
        background-color: white;
      }
      .container.narrow{
        .row{
          margin-left: -15px;
          margin-right: -15px;
        }
      }
     .navbar{
        background-color: #396080;
        min-height: 40px;
        height: 40px;
        color: #ffffff;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        font-size: 11px;
        line-height: 15px;
        padding: 12px 0 12px 25px;
     }


      .top-menu{
          li{
            text-transform: uppercase;
            > span{
              margin: 0 6px;
              padding: 0;
              color: #fff;
              border-bottom: 1px solid rgba(255,255,255,0.5);
            }
            > a{
              margin: 0 6px;
              padding: 0;
              color: #fff;
              &:hover{
                background: none;
                border-bottom: 1px solid rgba(255,255,255,0.5);
              }
            }
          }
      }
      .contact{
        position: relative;
        display: inline-block;
        float: left;
        &:before{
          content: url("../main/img/icon/phone.png");
          display: block;
          float: left;
          margin-right: 5px;
          margin-left: 5px;
        }
      }
      .text-beta{
        margin: 0 -20px 0 7px;
        font-family: Helvetica;
        color: rgb(255, 156, 0);
        @media (max-width: 500px) {
          display: none;
        }
      }
      .working-time{
        position: relative;
        display: inline-block;
        &:before{
          content: url("../main/img/icon/time.png");
          display: block;
          float: left;
          margin-right: 5px;
          margin-left: 26px;
        }
      }
      .logo{
        margin: 0 25px 20px 30px;
      }
      .main-menu {
        margin-top: 38px;

        ul.nav > li:last-child a{
          color: #e97a7a;
        }

        .dropdown:hover .dropdown-menu {
          display: block;
          margin-top: 0; // remove the gap so it doesn't close
        }
        .collapse{
          display: block;
        }

        div >.nav > li{
          &:hover>a{
            position: relative;
            color:$blue;
              &:before{
                content: '';
                position: absolute;
                width: 100%;
                bottom: -6px;
                height: 3px;
                background-color: $blue;
                left: 0;
                right: 0;
              }
          }
        }

        li{
          font-family: $font-semibold;
          > a,span{
            margin: 5px 16px;
            padding: 0;
            font-size: 15px;
            display: block;
            text-transform: uppercase;
            color: $blue-md;
            letter-spacing: 1px;
            text-decoration: none;
              &:hover{
                color:$blue;
              }
          }
          >span {
            color:$blue;
          }
        }
      }

      .navbar-icon{
        margin-top: 26px;
        padding-right: 18px;
          li{
            padding: 10px 9px;

            img{
              cursor: pointer;
            }
            > a{
              padding: 0;
              color: #fff;
              &:hover,&:active,&:focus{
                background: none;
              }
            }
          }
      }

    }



  // HEADER END =-=====================================3

//TWITTER

.instagram {
  position:relative;
      &:hover .instagram-icon{
        display: none;
      }
      .instagram-icon{
        position:absolute;
        top: 0;
        left: 0;
        display: block;
        width: 25%;
        height: 50%;
        padding-top: 25%;

          &:before{
            content: " ";
            position: absolute;
            background: url("../main/img/gallery/hover.png") center no-repeat;
            display: block;
            top: 10px;
            left: 10px;
            right: 11px;
            height: calc(100% - 23px);
            z-index: 5;
            background-size: cover;
          }
      }
}

//TWITTER END


  //FOOTER BEGIN =-===================================3

footer{
  .nav>li>a:focus{
    background: none;
  }
  .subscribe-block{
    padding: 0 15px 0 9px;
  }
  img{
    width: auto !important;
  }
  .container{
    color: #ffffff;
      &.narrow{
        .row{
          margin-left: 15px;
          margin-right: 15px;
        }
      }
      #sammyicon{
        padding-left: 10px;
        font-size: 13px;
        margin-top: 20px;
        margin-bottom: 5px;
      }
      .social{
        height: 33px;
        width: 100%;
        border: 1px solid #969fa8;
        position: relative;
        text-align: left;
        padding-left: 43px;
        letter-spacing: -0.4px;
        padding-top: 4px;
        margin-bottom: 10px;
        max-width: 180px;
        color: #FFFFFF;
        opacity: 0.8;
          &:before{
            content: "";
            width: 33px;
            height: 32px;
            position: absolute;
            z-index: 1;
            display: block;
            top:0;
            left: 0;
            background: #969fa8 url("../main/img/social/facebook.png") center no-repeat;
          }
          &.inst:before{
            background-image: url("../main/img/social/instagram.png");
          }
          &.vk:before{
            background-image: url("../main/img/social/vkontakte.png");
          }
          &:hover{
            border-color: #d5d8dc;
            color: #fff;
            opacity: 1;
            &:before{
              background-color: #d5d8dc;
            }
          }
      }
      .footer-wrapper{
        background-color: #2c3e50;
          form{
            margin-top: 15px;
              .btn-primary{
                border-width: 2px;
                padding: 8px 0 8px;
                font-family: $font-semibold;
                text-transform: uppercase;
                font-size: 11px;
                margin-left: 2%;
                width: 37%;
                height: 33px;
                letter-spacing: .6px;
              }
          }
          .payments-methods{
            margin-top: 25px;
            font-size: 15px;
              img{
                padding-left: 15px;
              }
          }
      }
      ul.nav{
        li {
          display: block;
            >span{
              color: #fff;
              padding: 2px 1px;
              font-size: 13px;
            }
            >a {
              padding: 2px 1px;
              color: #fff;
              font-size: 13px;
              opacity: 0.8;
                &:hover {
                  background: none;
                  opacity: 1;
                }
            }
        }
      }
      h3{
        font-family: $font-semibold;
        margin-top: 38px;
        margin-bottom: 6px;
        font-size: 15px;
      }
      hr{
        border-color: #6c7885;
        width: 94%;
        margin: 20px auto;
      }
      .logo{
        img{
          margin: 10px 28px 40px 2px;
        }
        .call-center-working-time{
          margin-left: 130px;
          margin-top: 28px;
          p{
            margin-bottom: 4px;
          }
        }
      }
  }
  .form-inline input.form-control{
    &::-webkit-input-placeholder {color: rgba(255,255,255,0.4);}
    &::-moz-placeholder          {color: rgba(255,255,255,0.4);}/* Firefox 19+ */
    &:-moz-placeholder           {color: rgba(255,255,255,0.4);}/* Firefox 18- */
    &:-ms-input-placeholder      {color: rgba(255,255,255,0.4);}
    color: #ffffff;
    font-family: $font-regular;
    font-size: 12px;
    float:left;
    display: block;
    width: 61%;
    padding: 5px 9px;
    height: 33px;
  }
}


  //FOOTER END =-===================================3



 // MAIN PAGE  BEGIN =-========================3

    .content-wrapper {
      position: relative;
    }
 .main-page{
      .col{
        padding: 0 10px;
      }

     .description{
       padding: 0 40px;

     }

      .row{
        padding-bottom: 20px;

          .info{
            display: table-cell;
            vertical-align: middle;
          }

        &.row-480{
          height: $row-lg;
          overflow: hidden;

          .info {
            height: $row-lg - 20px;
          }
          img{
            height: $row-lg - 20px;
          }
        }

        &.row-332{
          height: $row-md;
          overflow: hidden;
          .info {
            height: $row-md - 20px;
          }
          img{
            height: $row-md - 20px;
          }
        }
        &.row-320{
          height: $row-sm + 20px;
          overflow: hidden;
          margin: 40px 35px 30px;
          img{
            height: $row-sm;
          }
          .banner-inner{
            color: #396080;
            font-size: 14px;
            p{
              margin: 0;
              color: #396080;
            }
            .description{
              text-transform: uppercase;
              font-size: 15px;
              font-family: $font-bold;
              letter-spacing: 1px;
            }
            .info{
              height: $row-sm - 60px
            }
            img{
              height: 45px;
              width: auto;
              margin: 46px 0;
            }
          }
        }
        &.summer{
          height: $row-summer + 50px;
          overflow: hidden;
          img{
            width: 68.9%;
            height: $row-summer;
          }
          .special-banner{
            position: absolute;
            left: 60px;
            top: 20px;
            height: $row-summer - 40px;
            box-shadow: 0 29px 62px 10px rgba(70, 131, 178, 0.15);
            width: 30.453333333%;
            color: #396080;
            background-color: rgba(255,255,255,.94);
            text-align: center;
            text-transform: uppercase;
              button{
                width: 72%;
              }
              .special-color{
                color: #7692ab;
              }
              .description{
                text-transform: none;
                margin-bottom: 22px;
                font-size: 15px;
              }
              h2{
                font-size: 28px;
                margin-top: 87px;
                margin-bottom: 4px;
                color: #274d70;
                font-weight: 700;
                letter-spacing: 3px;
              }
              p{
                &:first-child{
                  margin-top: 26px;
                  font-size: 15px;
                }
              }
          }
        }


      }

      a{
        color: #fff;
      }
      img{
        width: 100%;
      }

      h2{
        font-size: 29px;
        font-family: $font-bold;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 0;
        &:hover{
          text-decoration: underline;
        }

      }


     .row > .col > a:hover{
       h2, .description {
         color: #eee;
       }
     }

    ul.nav li{
        display: inline-block;
    }

    .btn{
      border-width: 2px;
    }

    .btn-lg{
      border-width: 3px;
      text-transform: uppercase;
    }

    .info-container{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      vertical-align: middle;
      display: table;
      .btn{
        font-family: $font-bold;
        text-transform: uppercase;
        font-size: 15px;
        padding: 14px 66px;
      }
      .description{
        font-size: 15px;
        margin-bottom: 16px;
      }
      .banner-inner{
        background-color: rgba(255,255,255,.94);
        margin: 30px 40px;
        height: 260px;
      }
    }
  }



  body.main-page{
    font-family: $font-regular;
  }
  // MAIN PAGE  END =-========================3

 // MEDIA BLOCK START =-==================3

 .media{
   background-color: #eceff2;
   text-align: center;
   padding-bottom: 17px;
   margin: 50px 15px 0 15px ;
   .owl-carousel{
     background: none;
   }
   .owl-wrapper-outer{
     border: none;
     -webkit-box-shadow: none;
     -moz-box-shadow:  none;
     box-shadow:  none;
   }
  
  img{
    margin: 0 auto;
  }
   
   p{
     text-transform: uppercase;
     margin: 35px 0;
     font-size: 15px;
     color: #62717f;
     font-family: $font-regular;
   }
 }

 // MEDIA BLOCK END =-==================3

.close-btn{
  position: absolute;
  top:-28px;
  right:-28px;
  border: none;
  background-color: transparent;
    img{
      width:17px;
      height:17px;
      opacity: 0.5;
      &:hover{
        opacity: 1;
        cursor: pointer;
      }
    }
    &:focus{
      outline: none!important;
    }
}

// subscription-page start =-==================3
.account-login .cabinet .header{
  margin: 0 -25px 0 -15px;
}

.subscription-page,.account-login .cabinet{
  h2{
    font-family: $font-semibold;
    font-size: 15px;
    text-transform: uppercase;
    color: #396080;
    margin-top: 27px;
    letter-spacing: 1.4px;
    text-align: center;
  }
  .container{
    padding: 0 !important;
    position: relative !important;
  }

  .header{
    position: relative;
    img{
      width: 100% !important;
    }
  }
  .middle-contant{
    .separator-right{
     border-right:1px solid #ced6dd;
    }
    .separator-left{
      border-left:1px solid #ced6dd;
    }
    text-align: center;
    input {
      width: 100%;
      border: 1px solid #b2c1cd;
      font-family: $font-semibold;
      padding: 8px 14px;
      margin-top: 10px;
      color: #71889e;

      &::-webkit-input-placeholder {
        color: #71889e;
      }
      &::-moz-placeholder {
        color: #71889e;
      }
      /* Firefox 19+ */
      &:-moz-placeholder {
        color: #71889e;
      }
      /* Firefox 18- */
      &:-ms-input-placeholder {
        color: #71889e;
      }
      &:focus{
        outline: none;
      }
    }
    a{
      text-align: right;
      color: #8090a3;
      font-family: $font-semibold;
      font-size: 14px;
      margin-top: 21px;
      display: inline-block;

    }
    button{
      margin: 27px 0 30px 0;
      width: 100%;
      font-family: $font-bold;
      border: 3px solid #274d70;
      color: #274d70;
      background: transparent;
      text-transform: uppercase;
      padding: 14px 0;
      cursor: pointer;
      &:hover{
        opacity: 0.5;
      }
    }
    .l-margin{
      margin-top: 20px;
    }
  }
  .row.social-buttons{
    margin: 0;
  }
  .social-buttons{
    padding: 30px 65px;
    border-top: 1px solid #ced6dd;
    h2{
      margin-top: 29px;
      margin-bottom: 16px;
    }
    .social-button{
      width:100%;
      padding: 0;
      border: none;
      a{
        position: relative;
        display: block;
        width: 100%;
        padding: 8px 0 6px;
        padding-left: 37px;
        text-align: left;
        font-family: $font-regular;
        font-size: 13px;
        color: white;
        img{
          position: absolute;
          top: 8px;
          left: 7px;
        }
        &:hover{
          text-decoration: none;
        }
      }
      &:hover{
        text-decoration: none;
        opacity: 0.5;
      }
    }
    .social-button.facebook{background-color: #48629b;}
    .social-button.vkontakte{background-color: #527498;}
    .social-button.google{background-color: #dc4b38;}
    .social-button.twitter{background-color: #23b0e6;}
  }
  .social-buttons.log-page{
    padding-top: 0;
  }
  @media (min-width: 1200px) {
    .container{
      width: 830px !important;
    }
  }
  @media (min-width: 992px) {
    .col-md-6 {
      padding: 0 98px;
    }
  }
  @media (max-width: 992px){
    .middle-contant{
      .row{
        margin: 0;
      }
      .separator-right,  .separator-left{
        border:none;
      }
    }
    .social-buttons .social-button{
      margin: 0 auto 15px;
    }
  }
}
// subscription-page END =-==================3


// authorization-page START =-==================3
.authorization-page{
  .container{
    padding: 0;
    position: relative;
  }
  .close-btn{
    position: absolute;
    top:0;
    right:0;
    border: none;
    background-color: transparent;
    img{
      width:17px;
      height:17px;
      opacity: 0.5;
      &:hover{
        opacity: 1;
        cursor: pointer;
      }
    }
  }
  .middle-contant{
    margin: 0;
    .col.col-md-7{
      padding: 0;
      img{
        width: 100%;
      }
    }
    .col.col-md-5{
      text-align: center;
      background-color: white;
      h2{
        font-family: $font-semibold;
        font-size: 15px;
        text-transform: uppercase;
        color: $blue;
        margin-top: 27px;
        letter-spacing: 1.4px;
        margin-bottom: 0;
        text-align: center;
      }
      p{
        font-family: $font-regular;
        text-align: center;
        color: #30526d;
        font-size: 15px;
        margin-top: 5px;
        line-height: 18px;
      }
      input {
        width: 100%;
        border: 1px solid #d9d9d9;
        font-family: $font-regular;
        padding: 9px 14px;
        margin-top: 15px;
        text-align: center;
        color: #7f7f7f;

        &::-webkit-input-placeholder {
          color: #7f7f7f;
        }
        &::-moz-placeholder {
          color: #7f7f7f;
        }
        /* Firefox 19+ */
        &:-moz-placeholder {
          color: #7f7f7f;
        }
        /* Firefox 18- */
        &:-ms-input-placeholder {
          color: #7f7f7f;
        }
        &:focus{
          outline: none;
        }
      }
      button{
        margin: 14px 0 45px 0;
        width: 100%;
        font-family: $font-bold;
        border: 3px solid #274d70;
        color: #274d70;
        background: transparent;
        text-transform: uppercase;
        padding: 14px 0;
        cursor: pointer;
        &:hover{
          opacity: 0.5;
        }
      }
    }
  }
  @media (min-width: 1200px) {
    .container{
      width: 870px;
    }
  }
  @media (min-width: 992px) {
    .col.col-md-5{
      padding: 60px 62px 19px 62px;
    }
  }
}
// authorization-page END =-==================3

// Vazgen css
#sku-table span {display: block;}
#sku-table input {display: none;}
#sku-table button {display: none;}
.active-edit-sku span {display: none !important;}
.active-edit-sku input {display: block !important;}
.active-edit-sku button {display: block !important;}
// vcss end

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
 }


// @MEDIA START =-=====================================3


 //  MIN WIDTH
 @media (min-width: 1200px) {
   .background-color{
     display: none;
   }

   #form-language {
     background-color: #2c5374;
   }
    .common-home{

      .background-color{
        display: block;
        left: 30px;
        right: 30px;
      }
      .container{
        width: 1130px;
        padding-left: 20px;
        padding-right: 20px;

        &.narrow{
          width: 1060px;
          padding: 0;
        }
      }
    }

   .container{
     width: 1060px;
   }
   .pull-right-lg{
     float: right !important;
   }


   .col-lg-6.social-buttons{
       width: 50%;
       padding-right: 5px;
       padding-left: 0;
     .col-lg-4{
       padding: 0 10px;
     }
   }
 }

 @media (min-width: 992px) {
   .pull-right-md{
     float: right !important;
   }
   header .main-menu{
     margin-top:52px;
   }
 }



 // MAX-WIDTH

 @media (max-width: 1199px) {
   .main-page .row{
     &.row-480{
       height: $row-lg - 80px;
       overflow: hidden;
       .info {
         height: $row-lg - 100px;
       }
       img{
         height: $row-lg - 100px;
       }
     }
     &.row-332{
       height: $row-md - 60px;
       overflow: hidden;
       .info {
         height: $row-md - 80px;
       }
       img{
         height: $row-md - 80px;
       }
     }
     &.row-320{
       height: $row-sm - 60px;
       overflow: hidden;

       .banner-inner{
         height: $row-sm - 140px;
         img{
           margin: 26px 0;
         }

       }
       img{
         height: $row-sm - 80px;
       }
     }
   }
   header .search-block .search-header{
      width: 750px
   }
 }
 @media (max-width: 992px) {
   header .search-block .search-header{
     width: 550px
   }
   .nopadding-sm{
     padding: 0!important;
     margin: 0!important;
   }

   .main-page .row{
     &.row-480{
       height: $row-lg - 180px;
       overflow: hidden;
       .info {
         height: $row-lg - 200px;
       }
       img{
         height: $row-lg - 200px;
       }
     }
     &.row-332{
       height: $row-md - 120px;
       overflow: hidden;
       .info {
         height: $row-md - 140px;
       }
       img{
         height: $row-md - 140px;
       }
     }
     &.row-320{
      margin: 0 -15px;
       .banner-inner{
         img{
           margin: 15px 0;
         }
       }
     }
     &.summer{
       height: $row-summer - 80px;
       .special-banner {
         height: $row-summer - 140px;
         width: 37%;
         left: 2%;

       }
       img{
         height: $row-summer - 100px;
       }
     }
   }
 }

 @media (max-width: 991px) {
   header .navbar{
     height: 60px;
   }
   header .navbar.top-navbar{
     .top-menu{
       text-align: center;
     }
   }
   footer {
     .subscribe-block {
       text-align: center;
         input {
           display: inline-block;
           max-width: 180px;
         }
     }
   }
   .main-page .row.summer .special-banner{
     -webkit-box-shadow: 0 19px 20px 7px rgba(70,131,178,0.15);
     -moz-box-shadow: 0 19px 20px 7px rgba(70,131,178,0.15);
     box-shadow: 0 19px 20px 7px rgba(70,131,178,0.15);

   }
 }
 @media (max-width: 771px){

   .main-page .row.summer .special-banner{
     -webkit-box-shadow: none;
     -moz-box-shadow: none;
     box-shadow: none;

   }

   .info-container{
      display: table;
   }

   .background-color{
      left: 0;
     right: 0;
   }
   .container.narrow{
     padding: 0;
   }
   .main-page {
     .info-container{
       left: 50%;
       top: 50%;
       -webkit-transform: translateY(-50%) translateX(-50%);
       -moz-transform: translateY(-50%) translateX(-50%);
       -ms-transform: translateY(-50%) translateX(-50%);
       -o-transform: translateY(-50%) translateX(-50%);
       transform: translateY(-50%) translateX(-50%);
     }

       .row.row-480, .row.row-332{
         height: inherit;
         overflow: inherit;
         padding-bottom: 0;
         img{
           height: inherit;
           width: 100% !important;
         }
         .col{
           float: none;
           width: 100%;
           position: relative;
           padding: 10px 0px 10px;
         }
         .l-pravka-padding{
           padding: 2.5% 27% 0;
         }
         .info{
           height: inherit;
         }
       }
       .row.row-320{
         height: inherit;
         overflow: inherit;
         padding: 0px 28%;
         img{
           height: inherit;
           width: 100% !important;
         }
         .col{
           float: none;
           width: 100%;
           position: relative;
           padding: 10px 0px 10px;
           .banner-inner{
             height: inherit;
             padding-bottom: 15px;
             img{
               height: inherit;
               width: auto !important;
             }
           }
         }
       }
       .row.summer{
         height: auto;
         .pull-right{
           float: none !important;
         }
         img{
           width: 100% !important;
           height: inherit;
         }
         .special-banner{
           height: inherit;
           width: inherit;
           position: inherit;
           background-color: transparent;
           left: 0;
           top: 0;
           padding: 2% 0;
           margin-top: 3%;
         }
       }
       .container.main-page-gallery{
         .row{
           padding-bottom: 0;
         }
         img{
           width: 100% !important;
           padding-bottom: 20px;
         }
       }

   }

   header {
     .main-menu{
       margin-top: 134px;
       padding: 0 15px;
       text-align: center;
     }
     .navbar.top-navbar{
       height: auto;
       > div{
         width: 100%;
         text-align: center;
         .contact:before,.working-time:before{
           content: "";
         }
       }
     }
   }
   footer{
     .subscribe-block{
       text-align: center;
       input{
         display: inline-block;
         max-width: 180px;

       }
     }
     .social-buttons{
       text-align: center;
       .social{
         max-width: 180px;
       }
     }
   }
   .main-page  .row {
     height: auto;
     img {
       width: auto !important;
     }
   }
 }

@media  (min-width:769px) {
  .top-menu {
    margin-right: 22px;
    float: right;
  }
}
@media (max-width: 991px) and (min-width:768px) {
  .main-page .description {
    padding: 0 20px;
  }
  .main-page .row.row-320 .banner-inner .description{
    font-size: 13px;
  }
  .main-page .row.summer .special-banner h2{
    margin-top: 22px;
    font-size: 24px;
  }
  .main-page .row.summer .special-banner .description{
    font-size: 14px;
  }
}
 @media (max-width: 500px) {
   .main-page  .row.row-480 .l-pravka-padding,
   .main-page  .row.row-332 .l-pravka-padding{
     padding: 0;
   }
   .main-page  .row.row-332 .l-pravka-padding{
     padding-top: 2%;
   }
   .main-page  .row.row-320{
     padding: 0;
   }
 }

 @media (max-width: 475px) {
   header .navbar.top-navbar {
     height: 80px;
   }
 }

 @media (max-width: 350px) {
   header {
     .navbar.top-navbar {
       height: 92px;
     }
     .navbar-icon{
       margin: 0;
       padding: 0;
     }
     .pull-right,.pull-left{
       float: none !important;
       text-align: center;
     }
     .main-menu{
       margin-top: 0;
     }
   }
   footer {
     .subscribe-block{
       padding: 0;
     }
     .container.narrow .row {

       margin: 0;
     }
   }
 }


/*-----------------.table.table-bordered.table-hover----------------------------*/
.table.table-bordered.table-hover{
  border: none;
  tr td:last-child{
    padding-right: 2px;
  }
  thead{
    td,th{
      border: none;
      font-family: $font-regular;
      font-size: 12px;
      color: $blue-ll;
      text-transform: uppercase;
      letter-spacing: 0;
    }
    td:last-of-type{
      width: 75px;
    }
  }
  tbody{
    border-bottom: 1px solid #ddd !important;
    td{
      vertical-align:middle;
      text-align: center;
      border: none;
      font-family: $font-regular;
      font-size: 14px;
    }
    td:nth-child(2){
      text-transform: uppercase;
      margin-top: 16px;
      text-align: center;
      letter-spacing: 2px;
      color: $blue;
      font-family: $font-bold;
    }
    td:nth-child(3){
      text-align: left;
    }
    td:last-child{
      text-align: right;
    }
    .text-left {
      img{
        width: 75px;
      }
    }
  }
  tfoot{
    td{
      vertical-align:middle;
      text-align: center;
      border: none;
      font-family: $font-regular;
      font-size: 14px;
    }
    td:nth-child(2){
      text-align: left;
    }
    td:last-of-type{
      text-align: right;
    }
  }
}

//============images animation=========//

.grid  {
  overflow: hidden;
  background: #3085a3;
}




.grid img {

  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid .draggable {
opacity: 0;
  -webkit-transition: opacity 0.65s, -webkit-transform 0.35s;
  transition: opacity 0.65s, transform 0.35s;

}

.grid .first {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.grid .second {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.grid .third {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.grid:hover .first {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.grid:hover .second {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.grid:hover .third {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.grid:hover img {
  opacity: 0.4;
  -webkit-transform: scale3d(1.1,1.1,1);
  transform: scale3d(1.1,1.1,1);
}

.grid:hover .draggable {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


//=============button===========//

/* General button style (reset) */
.btn {
  cursor: pointer;
  display: inline-block;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}


/* Button 1e */
.btn-1e {
  overflow: hidden;
}

.btn-1e:after {
  width: 120%;
  height: 0;
  top: 50%;
  left: 50%;
  background: #e0e0e0;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.btn-1e:hover,
.btn-1e:active {
  color: #38a8ba;

}

.btn-1e:hover:after {
  height: 250%;
  opacity: 1;
}

.btn-1e:active:after {
  height: 400%;
  opacity: 1;
}
.form-horizontal .control-label {
  text-align: left!important;
}

.Designed_by {
    font-size: 13px;
    font-family: "Proxima Nova";
    color: rgba(213, 216, 220, 0.451);
    line-height: 1.846;
    text-align: left;
    position: absolute;
    left: 1320.938px;
    top: 652.622px;
    z-index: 67;
}
._shortcute {
   font-size: 13px;
   font-family: "Proxima Nova";
   color: rgba(213, 216, 220, 0.702);
   line-height: 1.846;
   text-align: left;
   position: absolute;
   left: 1399.89px;
   top: 628.501px;
   z-index: 66;
}