
@media (max-width: 767px){
  #content,.item-page {
    .goods-block {
      max-width: 260px !important;
      margin: 10px auto !important;
      padding: 0 5px;
    }
  }
  .item-page {
    .buy-right-part {
      .buy-block {
        .price-size {
          padding: 0;
          &:nth-of-type(2n){
            padding: 0 15px;
          }
        }
      }
    }
  }
  /* FastFix */
  .item-page .goods-block{
    max-width: 260px !important;
    margin: 10px auto !important;
    padding: 0 5px;
  }
  .category-product-container {
     padding-right: 15px;
  }
  #product-row{
    margin:0 -10px;
  }
}

@media (min-width: 460px) and (max-width: 767px)
{
  #content,.item-page {
    .product-layout {
      width: 50%
    }
  }
}

@media (min-width: 360px) and (max-width: 459px)
{
  #content,.item-page{
    .product-layout{
      width: 50%;
      height:245px;
    }
    .goods-img{
      height: 170px;
    }
    .review-goods-img{
      top: 115px;
    }
    .goods-text-area{
      min-height: 68px;
      height: 68px;
      .goods-name,.goods-price,h2{
        font-size: 11px;
      }
    }
    .goods-text-area{
      .goods-price{
        width:32%;
        line-height: 2em;
      }
    }
  }

}