.partners-page{
  background-color: $site-bg;
  .top-wrapp{
    background-color: white;
    .top-elems{
      position: relative;
      margin-bottom: 2%;
      img{
        width:100%;
      }
      h1{
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        -moz-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
        -o-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
        color: #ffffff;
        font-family: $font-bold;
        text-transform: uppercase;
        margin: 0;
        font-size: 28px;
        letter-spacing: 1.4px;
      }
    }
  }
  .info-block{
    p{
      font-family: $font-regular;
      color:$blue-md;
      margin: 0;
      margin-top: -2px;
      font-size: 15px;
    }
    .bold{
      font-family: $font-semibold;
      color:$blue;
      letter-spacing: -0.4px;
      margin: 0;
    }
    .text-elems1{
      margin-top: 9%;
    }
    button{
      margin-top: 9%;
      background-color: transparent;
      border: 3px solid #274d70;
      color: #274d70;
      font-family: $font-bold;
      padding: 5% 13%;
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: 1px;
      &:hover{
        opacity: 0.5;
      }
    }
  }
  .map-wrapp{
    img{
      width:100%;
    }
  }
  .location-stores{
    border-top: 1px solid grey;
    margin-top: 4%;
    .location-left-part, .location-right-part{
      margin-top: 3.7%;
    }
    h2{
      color: #39607f;
      font-family: $font-semibold;
      font-size: 18px;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin: 0;
    }
    h3{
      color: #39607f;
      font-family: $font-semibold;
      margin: 12px 0px 8px;
      font-size: 15px;
    }
    .text-elems{
      margin-bottom: 6.2%;
        p{
          font-family: $font-regular;
          color: $blue-md;
          margin: 0;
          margin-top: 2px;
          font-size: 13px;

        }
        a,p.bold,.phone{
          font-family: $font-semibold;
          color: $blue-md;
          letter-spacing: -0.4px;
          margin: 0;
          margin-bottom: 2px;
        }
    }
    .margin{
      margin-top: 0;
    }
  }

  @media (min-width: 1200px){
    .container.top-wrapp{
      width:1060px;
    }
    .top-wrapp .top-elems{
      padding: 0;
      margin-left: -20px;
      width: 104%;
    }
    .location-stores{
      margin: 4% 14px;

    }
  }
  @media (min-width: 992px){
    .col-md-6.info-block{
      padding: 9% 8% 0% 9%;
    }
    .col-md-6.map-wrapp {
      padding: 0;
      padding-right: 30px;
    }
    .location-left-part{
      padding-left: 0;
    }
    .location-right-part{
      padding-right: 0;
    }
  }
  @media (max-width: 1200px){
    .info-block{
      text-align: center;
      .text-elems1{
        margin-top: 2%;
      }
      button{
        margin-top: 2%;
        margin-bottom: 2%;
        padding: 2% 6%;
      }
    }
    .location-left-part{
      padding-left: 15px;
    }
    .location-right-part{
      padding-right: 15px;
    }
  }
}


.partner-form-page{
  color:#1e405c;
  font-size: 16px;
  .article-title{
    margin-bottom: 40px;
    h1{
      position: absolute;
      font-family: $font-bold;
      color: #FFFFFF;
      font-size: 36px;
      letter-spacing: 4px;
      left: 50%;
      top: 45%;
      -webkit-transform: translateY(-50%) translateX(-50%);
      -moz-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
      -o-transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%);
    }
    img{
      width: calc(100% + 60px);
      margin-left: -30px;
      margin-right: -30px;
    }
  }
  .bepartner-form{
    margin-top: 30px;
    margin-bottom: 100px;
    width: 285px;
      button{
        color: #FFFFFF;
        text-transform: uppercase;
        font-size: 13px;
        font-family: $font-semibold;
        background-color: #274d70;
      }
      input{
        border: 1px solid #b2c1cd;
        border-right: none;
        padding: 5px 0 5px 14px;
        display: block;
        float: left;
        font-family: $font-semibold;
        color: $blue-md;
        font-size: 14px;
        &::-webkit-input-placeholder {color:$blue-md;}
        &::-moz-placeholder          {color:$blue-md;}/* Firefox 19+ */
        &:-moz-placeholder           {color:$blue-md;}/* Firefox 18- */
        &:-ms-input-placeholder      {color:$blue-md;}
        &:focus, &:active{
          outline: none;
          background-color: transparent;
        }
      }

  }
}