.search {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cad4db;
  margin: 0 15px;
  color: #336699;

  & > div {
    padding: 0;
  }

  input {
    border: 0;
    outline: 0;
    background: transparent;
    width: 20px;
    font-size: 15px;
    color: #396080;
    &::-webkit-input-placeholder {color:#396080;}
    &::-moz-placeholder          {color:#396080;}/* Firefox 19+ */
    &:-moz-placeholder           {color:#396080;}/* Firefox 18- */
    &:-ms-input-placeholder      {color:#396080;}
    font-family:  $font-regular;
  }

  button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    padding: 0;
    span {
      width: 20px;
      height: 20px;
      display: block;
      padding: 0;
    }
  }

  .search-btn {
    span {
      width: 20px;
      height: 20px;
      img{
        margin-top: -2px;
      }
    }
  }

  .search-input {
    width: 92%;
    font-size: 14px;
    padding-left: 5px;
  }

  .close-btn {
    padding-right: 0;
    width: 20px;
    height: 20px;
    float: right;
  }

}

.search-results {
  padding-top: 35px;
  color: #336699;

  .search-item{
    margin-bottom: 20px;
  }

  .item-text {
    padding-left: 0;
    padding-top: 15px;

    p,a {
      margin-bottom: 0;
      font-size: 22px;
      color: #396080;
      text-transform: capitalize;
    }

    .description {
      color: $blue-ll;
      font-size: 14px;
      text-transform: uppercase;
      font-family: $font-regular;
    }
  }
}


@media (max-width: 1199px) {
  .search-results .item-text{
      padding-left: 40px;
    }
}